/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.04.2019, 22:37:25
    Author     : dreamer
*/

/* Дополнительное меню, главная страница */
.navbar__sub-general {
    height: 70px;
}
.navbar__pills {
    display: flex;
    justify-content: center;
}
.navbar__pills > li {
    width: 200px;
    height: 56px;
    border: 1px solid #fff;
    text-align: center;
}
.navbar__pills > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}
.navbar__pills > li:hover {
    background: #fff;
    border-radius: 0;
}
.navbar__pills > li a:focus,
.navbar__pills > li a:hover {
    background: transparent;
    color: #2d18b4;
    border-radius: 0;
}
.navbar__pills > li.active {
    background: #fff;
    color: #2d18b4;
}
.navbar__pills > li.active > a,
.navbar__pills > li.active > a:hover {
    background: transparent;
    color: #2d18b4;
}
.navbar__pills > li:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 7px;
}
.navbar__pills > li:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 7px;
}
/* Конец Дополнительное меню, главная страница */

/* Дополнительное меню, услуги */
.services-nav {
    height: 96px;
    background-color: #2D18B4;
}
/* Конец Дополнительное меню, услуги */

/* Навигационное меню */
.navbar-menu {
    background-image: url(../Head.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 1px -1px 6px 2px #000;
    /*box-shadow: rgba(0, 15, 41, 0.05) 0px 0px 16px 0px;*/
    border: none;    
}
.navbar-menu_header {
    padding: 50px;
    height: 120px;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -80px !important;
    margin-top: -10px;
    display: block;
}
.navbar-menu__items {
    margin-top: -350px;
}
.menu-show {
    margin-top: 0;
    /*box-shadow: -1px 6px 7px #c1c1c1;*/
}
.user-notification {
    position: relative;
    top: -20px;
}

/* Открыть, закрыть меню */
.menu-toggle {
    position: fixed;
    top: 40px;
    margin-left: -50px;
    z-index: 11;
}
.menu-toggle span::before,
.menu-toggle span::after {
    position: absolute;
    top: 50%; 
    margin-top: -1px;
    left: 50%; 
    margin-left: -10px;
    width: 25px;
    height: 2px;
    background-color: #e0e0d1;
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-toggle span::before {
    transform: translateY(-5px);
}
.menu-toggle span::after {
    transform: translateY(5px);
}
.menu-toggle_active span {
    background-color: transparent;
}
.menu-toggle_active span:before {
    transform: rotate(-135deg);
    width: 20px;
    transform-origin: center;
}
.menu-toggle_active span:after {
    transform: rotate(135deg);
    width: 20px;
    transform-origin: center;
}
.menu-toggle_message {
    margin-left: 100px;
    margin-top: 11px; 
    color: white;
    text-decoration: none;
}
.menu-toggle_message:hover {
    text-decoration: none;
}
.mobile-menu__items__sub {
    display: none;
}
.mobile-menu__items__sub > li {
    color: #fff;
    list-style: none;
    text-align: center;
    padding-right: 35px;
    padding-top: 10px;
}
.mobile-menu__items__sub > li > a {
    color: #fff;
}
.mobile-menu__items__sub > li > a:hover {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 12px;
}
.mobile-menu__sub-show {
    display: block;
}
.caret-arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Выпадающее меню навигации */
.menu-items {
    list-style-type: none;
    color: #fff;
    padding: 10px 0;
}
.menu-items > li {
    padding: 10px;
    /*cursor: none;*/
}
.menu-items > li a {
    color: rgba(255, 255, 255, 0.44);
    text-decoration: none;
    text-transform: uppercase;
}
.menu-items > li.active-item a {
    display: inline-block;    
    color: #fff;
    font-weight: bold;
}
.menu-items > li:hover {
    color: #fff;
    font-weight: bold;
}
.menu-items > li:hover > a {
    color: #fff;    
}
.menu-items > li.active-item {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -moz-border-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 7), rgba(0, 0, 0, 0));  
    -webkit-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 7), rgba(0, 0, 0, 0));
    border-image-slice: 1; 
    
}
.menu-items > li.personal-account-menu:hover > a.sub-menu-item {
    font-size: 12px;
    font-weight: 100;
    text-transform: none;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px 11px;
    display: initial;
    /*display: inline-block;*/
}
a.sub-menu-item {
    display: none;
}
a.active-sub-item,
a.sub-menu-item:hover {
    border-radius: 12px;
    border: 1px solid #fff;
}
.menu-items > li.active-item > a.sub-menu-item {
    font-size: 12px;
    font-weight: 100;
    text-transform: none;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px 11px;
    display: initial;
}
/* Конец Выпадающее меню навигации */

/* Дополнительное навигационное меню, главная страница */
.navbar-general-page {
    padding: 20px;
}
/* Конец Дополнительное навигационное меню, главная страница */

/* Дополнительное навигационное меню, диспетчер Главная страница */
.menu_sub-bar__span {
    background: #ef693a;
    padding: 1px 6px;
    border-radius: 25px;
    color: #fff;
    margin: 0 5px;
}
/* Конец Дополнительное навигационное меню, диспетчер Главная страница */

/* Диспетчер, контент + доп меню */
.dispatcher-main-with-sub {
    margin-top: 155px;
}
.dispatcher-main-with-sub-1 {
    margin-top: 110px;
}
.dispatcher-main-with-sub-general {
    margin-top: 120px;
}
.margin-search-panel {
    margin-top: 250px;
}
.dispatcher-main-with-sub-designer {
    margin-top: 130px;
}
/* Конец Диспетчер, контент + доп меню */

/* Диспетчер, контент */
.dispatcher-main {
    margin-top: -40px;
}
/* Конец Диспетчер, контент */

/* Дополнительное навигационное меню Диспетчер */
.submenu-dispatcher {
    background: #2d18b4;
    padding: 5px 0 5px 0;
    position: fixed;
    margin: 100px 0 0 -30px;
    width: 100%;
    z-index: 10;
}
.submenu-dispatcher > ul {
    padding: 10px 25px;
}
.submenu-dispatcher__top {
    margin-top: 5px;
}
/* Конец Дополнительное навигационное меню Диспетчер */

/* Хлебные крошки */
.breadcrumb {
    margin-top: 70px;
    font-size: 12px;
    background: transparent;
}
.breadcrumb-padding {
    margin-top: 140px;
}
.breadcrumb > li > a {
    color: #c1c1c1;
}
.breadcrumb > li > a:hover {
    color: #f0754a;
    border-bottom: 1px solid #f0754a;
}
.breadcrumb > .active {
    color: #67768a;
}
/* Конец Хлебные крошки */

/* Notifications Bar */
.notification__dropdown {
    padding: 10px;
    min-height: 70px;
    width: 320px;
    cursor: default;
}
.notification__dropdown a.notification_reset {
    color: #bcbcbc;
    font-size: 12px;
    padding: 0 0 20px;
    cursor: pointer;
}
.notification__dropdown a.notification_link {
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
span.dot {
    height: 7px;
    width: 7px;
    background-color: #1fd68d;;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.notification__dropdown p {
    color: #bcbcbc;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.notification__dot {
    position: absolute;
    top: 0%;
    right: 10%;
    background: #fc3232;
    padding: 7px 7px;
    border-radius: 12px;
}
/* End Notifications Bar */

/* Выпадающее меню, профиль пользователя */
.in_navbar {
    width: 479px;    
}
.dropdown-menu {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(180.67deg, #39284E 0, rgba(10,8,8,0.7) 117%);
    box-shadow: 0 10px 14px 2px rgba(0,0,0,0.26); 
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:hover {
    color: #fff;
    background: transparent;
}
.dropdown-menu:before{
    border: none;
}
.dropdown-menu_link-profile {
    font-size: 12px;
}
.dropdown-menu_link-profile a {
    color: #bcbcbc;
}
.dropdown_footer div {
    padding: 20px;
    font-size: 12px;
}

.dropdown a#navbarDropdown:hover {
    background: #928DD2;
    border-radius: 50px;    
}
.dropdown_footer a.footer_link {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.12em;
}
.dropdown_footer a.footer_link:hover {
    text-decoration: none;
}
.dropdown_footer a.footer_link-logout {
    text-transform: uppercase;
    color: #ff1760;
    letter-spacing: 0.12em;
}
.dropdown_footer a.footer_link-logout:hover {
    text-decoration: none;
}
.photo-user-dropdown {
    border: 4px solid #2d18b4;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 20px rgba(45, 24, 180, 0.5);
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.dropdown_user-info {
    padding: 20px 0px;
}
.dropdown_user-name {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.23px;
    line-height: 27px;
    margin-bottom: 0px;    
}

.dropdown_account-block {}
.mail-border p {
    color: #ef693a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding: 0 0 10px 0;
}
.mail-border a:hover {
    text-decoration: none;
}
.dropdown_account-title{
    color: #78e4ff;
    font-size: 12px;
    letter-spacing: 1.26px;
    line-height: 18px;
    margin-bottom: 0;
}
.dropdown_account-number {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.26px;
    line-height: 18px;
    margin-bottom: 0;
}
/* Конец Выпадающее меню, профиль пользователя */

/* Диспетчер, главная страница */
.dispatcher__genaral-page {}
.dispatcher__genaral-page > div[class^="col-"] {
    padding: 0;
    margin: 0;
}
.dispatcher__genaral-page__notice,
.dispatcher__genaral-page__request {
    margin: 10px;
    height: 725px; 
    overflow: auto;
}
.dispatcher__genaral-page__news-block {
    height: 685px;
}
.dispatcher__genaral-page__notice,
.dispatcher__genaral-page__news-block {
    border: 1px solid #ddd;
    margin: 10px;
    box-shadow: 0 4px 26px 0 rgba(51, 29, 82, 0.16);
    overflow: auto;
    position: relative;
}
.dispatcher__genaral-page__notice {
    border-radius: 12px;
    overflow: hidden;
}
.dispatcher__genaral-page__news-block {
    margin-top: -10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.dispatcher__genaral-page__notice::-webkit-scrollbar-track,
.dispatcher__genaral-page__request::-webkit-scrollbar-track,
.dispatcher__genaral-page__news-block::-webkit-scrollbar-track,
.flats-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7px;
    background-color: #ddd;
}

.dispatcher__genaral-page__notice::-webkit-scrollbar,
.dispatcher__genaral-page__request::-webkit-scrollbar,
.dispatcher__genaral-page__news-block::-webkit-scrollbar,
.flats-items::-webkit-scrollbar {
    width: 7px;
    background-color: #ddd;
}

.dispatcher__genaral-page__notice::-webkit-scrollbar-thumb,
.dispatcher__genaral-page__request::-webkit-scrollbar-thumb,
.dispatcher__genaral-page__news-block::-webkit-scrollbar-thumb,
.flats-items::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #524e53;
}
.notice__user_block {
    display: inline-block;
    position: relative;
    padding: 0 25px;
    margin: 15px;
    height: 50px;
    width: 90%;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.notice__user_block:hover,
.notice__user__active {
    box-shadow: 0px 1px 10px 1px #777;
    background-color: #7039c4;
    color: #fff;
}
.notice__user_block img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.notice__user_block span.notice__count {
    font-size: 12px;
    background: #ef693a;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    right: 5%;
    top: 30%;
    width: 25px;
    height: 25px;
    line-height: 0;
    text-align: center;
    padding-top: 12px;
}
.notice__user_block span.notice__username {
    font-size: 14px;
    /*font-weight: bold;*/
}
.dispatcher_genaral-page__request_block {
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 170px;
    padding: 10px 0 0 0;
    margin-bottom: 15px;
    box-shadow: 0 4px 26px 0 rgba(51, 29, 82, 0.16);
}
.request_block__info {
    display: inline-grid;
}
.request_block__info,
.request_block__content,
.request_block__adress {
    padding: 0 10px;
    font-size: 12px;
}
.request_block__content_img {
    padding: 10px 0;
}
.request_block__content_img img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 12px;
}
.request_block__info > span {
    margin: 10px 0;
}
.request_block__info > span.request_number {
    padding: 7px 10px;
    background: #2d18b4;
    color: #fff;
    border-radius: 25px;
    width: 150px;
    font-size: 12px;
    text-align: center;
}
.news-block__news-item {
    border-bottom: 1px solid #ddd;
}
.news-block__news-item__title {
    padding: 10px;
}
.news-block__news-item__title p {
    padding: 0;
    margin: 0;
}
.news-block__news-item__title a.a_title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.news-block__news-item__title a.a_title:hover {
    color: #2d18b4;
}
.news-block__news-item__title p.date {
    font-size: 12px;
    color: #2d18b4;
    font-weight: bold;
}
.news-block__news-item__image {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
}
.news-block__news-item__image img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.news-block__news-item__content {
    padding: 10px;
    font-size: 14px;
    text-align: justify;
}
.margin-btn {
    right: 27%;
}
.dispatcher__genaral-page__news-btn {
    background: #454545;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 1;
}
a.news-block__create-link {
    color: #fff;
    font-size: 12px;
}
a.news-block__create-link:before {
    content: '\0271A';
    padding-right: 10px;
}
a.request__link-view {
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    color: #2d18b4;
}
a.request__link-view:hover {
    color: #f0754a;
}
/* Конец Диспетчер, главная страница */

/* Страница Профиль пользователя */
.profile-page {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 30px;
}
.profile-bg {
    background-image: url(../profile-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*height: 372px;*/
    height: 250px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-bg .face{
    border: 4px solid #2d18b4;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 40px rgba(45, 24, 180, 0.5);
    width: 120px;
    height: 120px;
}
.face-container {
    position: relative;
    width: 25%;
}
.profile-name {
    width: 75%;
}
.profile-name p {
    color: #fff;
    font-size: 28px;
    letter-spacing: 1.23px;
    text-align: center;
}
.profile-upload {
    position: absolute;
    top: 40%;
    cursor: pointer;
}
.profile-upload label {
    font-weight: 100;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
.profile-upload label:hover {
    color: rgba(0, 0, 0, 0.5);
}
.btn-upload {
    padding: 2px 47px;
    font-size: 26px;
}
.account-select {
}
.account-select_title {
    padding: 20px;
}
.badge-personal-account {
    color: #2d18b4;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.clients-profile-info {
    padding-right: 100px;
    padding-left: 100px;
    text-align: left;
}
.rent-profile-info {
    padding-right: 100px;
    padding-left: 100px;
    text-align: left;
}

.profile-title {
    font-size: 16px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.profile-title-rent {
    padding-bottom: 3px;
    text-align: center;    
}

.profile-title a {
    color: #2d18b4;
}
.spam-agree-txt {
    margin: 30px 0;
}
.modal-confirm {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 20px;
}
/* Кoнец Страница Профиль пользователя */

/* Заявки */
.requests-page {
    margin-top: 140px;
}
.fixed-bottom {
    position: absolute;
    bottom: 20px;
}
.create-request-btn {
    background-image: url(/images/clients/new_record.svg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    background-color: transparent;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 2%;
    bottom: 10%;    
    cursor: pointer;
    outline: none;
    border: none;
}
.create-request-btn:hover {
    filter: brightness(80%);
    outline: none;
}

.create-request-btn:active {
    filter: brightness(120%);
    outline: none;
}
.form__upload-image {
    display: table;
    position: absolute;
    bottom: 28%;
    left: 8%;
}
.count-label {
    position: absolute;
    top: -7px;
    right: -4px;
    background: #EF693A;
    font-size: 10px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
    border: 3px solid #fff;
}
/* Конец Заявки */

/* Постраничная нафигация, таблица */
.pagination {
    margin: 5px 0;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    color: #67768a;
    border-bottom: 2px solid #67768a;
    background-color: #fff;    
}
.pagination > li > a, .pagination > li > span {
    color: #7c7c7c;
    background-color: transparent;
    font-size: 14px;
    padding: 2px 7px;
    border: none;
}
.pagination > li > a:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    color: #7c7c7c;
    background-color: transparent;
    border-bottom: 2px solid #ef693a;    
}
.pagination > li.prev > a:hover, 
.pagination > li.next > a:hover, 
.pagination > .active > span:hover, 
.pagination > li > span:hover {
    border: none;
}
.pagination > li.prev > a:hover i, 
.pagination > li.next > a:hover i {
    color: #ef693a;
}
.pagination i {
    font-size: 10px;
    color: #7c7c7c;
}
/* Конец Постраничная нафигация, таблица */

/* Просмотр отдельной заявки */
.requests-view {
    border: 1px solid #ddd;
    border-radius: 12px;
    min-height: 750px;
}
.requests-view_title {
    padding: 20px 0 20px 30px;
    color: #fff;
    border-radius: 12px 12px 0 0;
    background-color: #2d18b4;
    margin: 0;
    font-size: 14px;
    min-height: 75px;
}
.requests-paid-view_title {
    padding: 25px 30px;
    color: #fff;
    border-radius: 12px 12px 0 0;
    background-color: #2d18b4;
    margin: 0;
    font-size: 18px;
    min-height: 75px;
    font-weight: bold;
}
.requests-paid-view_title .label_service-name {
    border: 1px solid white;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px 20px;
    margin: 0 20px;
    background: #fff;
    color: #2d18b4;
}
.requests-paid-view_title .label_service-date {
    background: #fff;
}
.requests-paid-content {
    padding: 0;
}
.requests-view_title i.check {
    background: #36eadf;
    padding: 10px;
    border-radius: 100%;
}
.requests-view_title i.uncheck {
    background: #ddd;
    padding: 10px;
    border-radius: 100%;
}
.requests-view_body {
    padding: 10px;
    min-height: 710px;
}
.requests-border {
    border-right: 1px solid #ddd;
    padding: 0;    
}
.requests-view_body h4 {
    font-size: 18px;
    letter-spacing: 0.32px;
    font-weight: bold;
    padding: 0;
}
.requests-view_body > h4 > span {
    border: 1px solid #2d18b4;
    color: #2d18b4;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 25px;
}
.date_requests {
    color: #2D18B4;
    font-size: 12px;
    letter-spacing: 0.29px;
}
.request_text {
    color: #2d18b4;
    padding: 20px 0;
    font-size: 14px;
    letter-spacing: 0.25px;
}
.client_info {
    margin: 0 -10px;
    background: #eee;
    /*height: 80px;*/
    color: #2d1d88;
    position: relative;
}
.client_info__block {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.client_info__block > div:first-child {
    position: absolute;
    top: 40%;
    left: 2%;
}
.client_info__block > div:last-child {
    position: absolute;
    top: 40%;
    right: 2%;
}
.client_info__block > div.client_info-address {
    width: 50%;
    padding-top: 10px;
    padding-left: 60px;
}
.client_info__block > div.client_info-contact {
    width: 50%;
    padding-top: 10px;
    padding-right: 60px;
    vertical-align: middle;
}
.request-body-rate {
    text-align: center;
    margin: 30px;
}
.requests-view_chat {
    margin: 0 -15px 0 0px;
}
.requests__chat-status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.requests__chat-status > .__label {
    padding: 0 10px;
    color: #999;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    margin-bottom: 0px;
}
.requests-view_body img.info-img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}
.requests__status-block {
    padding: 10px 0;
    display: flex;
}
#star {
    padding: 5px 0;
}
.requests-view__setting {
    padding: 20px 0;
}
.page-btn-block {
    padding: 20px 0;
}
a.employee-profile {
    color: #717171;
    font-size: 14px;    
}
a.employee-profile:hover {
    color: #3e3e3e;
}
#dispatcherList {    
}
.sendmessage_button {
    background: #fff url(/images/send.png) 0 -41px no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
    bottom: 23%;
    border: none;
}
.sendmessage_button:hover {
    cursor: pointer;
    background-position: 0 0;
}
/* Конец Просмотр отдельной заявки */

/* Завяки, чат */
.comments .row {
    margin: 10px 0;
}
.request-chat-icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;    
}
.chat_photo {
    padding: 0 10px;
}
.chat-name {
    letter-spacing: 0.13em;
}
.chat_time {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}
.chat-txt-block {
    min-width: 92px;
    /*max-width: 398px;*/
    border-radius: 12px;
    background: linear-gradient(180.67deg, #412b5d 32%, rgba(10,8,8,0.7) 96%);
    padding: 15px;
    word-wrap: break-word;
    margin-left: 19px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0 10px 14px 2px rgba(0,0,0,0.26);
}
.chat-msg {
    margin: 0 0 0 -15px;
    padding: 40px 0px 0px 0px;
    position: relative;
/*    bottom: 0;
    width: 100%;*/
}
.chat-msg span#label-count,
.chat-msg span#label-count-left {
    color: #6b5d4a;
}
.chat-msg span#label-count-left {
    padding-right: 10px;
}
.chat-msg textarea {
    border: 1px solid #d4d4d4;
    border-left: none;
    border-right: none;
    resize: none;
    box-shadow: none;
    padding: 10px 40px 10px 10px;
}
.chat-msg textarea:focus {
    border-color: #ddd !important;
    outline: none;
    box-shadow: none;
}
.has-error textarea {
    border-color: #ff7d7d !important;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.chat-msg textarea::-webkit-scrollbar {
    width: 7px;
    background-color: #ddd;
}
.chat-msg textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.chat-msg textarea::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #524e53;
}
.chat-msg__off > p {
    padding: 10px;
    color: #777;
    font-size: 12px;
    text-align: center;
    margin: 50px 50px 0 35px;
    background-color: #ddd;
    border-radius: 50px;
}
.dispatcher__genaral-page__request {
    margin: 10px;
    overflow: auto;
}
.dispatcher__genaral-page__notice {
    margin: 10px;
    height: 725px; 
    overflow: auto;
}
#add-comment .form-group {
    margin-bottom: 0px;
}
.error-summary {
    font-size: 12px;
    color: #ff7d7d;
}
.chat-badge-date {
    text-align: center;
}
.chat-badge-date span {
    background-color: #2d18b4;
    padding: 4px 20px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.05px;
    border-radius: 12px;
}
.comments {
    height: 500px;
    overflow: auto;
    padding: 10px 0px 30px 0px;
}
.dispatcher__genaral-page__notice::-webkit-scrollbar-track,
.dispatcher__genaral-page__news-block::-webkit-scrollbar-track,
.flats-items::-webkit-scrollbar-track,
.comments::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 7px;
    background-color: #ddd;
}
.dispatcher__genaral-page__notice::-webkit-scrollbar,
.dispatcher__genaral-page__news-block::-webkit-scrollbar,
.flats-items::-webkit-scrollbar,
.comments::-webkit-scrollbar {
    width: 7px;
    background-color: #ddd;
}
.dispatcher__genaral-page__notice::-webkit-scrollbar-thumb,
.dispatcher__genaral-page__news-block::-webkit-scrollbar-thumb,
.flats-items::-webkit-scrollbar-thumb,
.comments::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #524e53;
}
/* Конец Завяки, чат */

/* Оценка заявки, звездочки */
.req-rate-star {
    margin: 15px 0;
}
/* Конец Оценка заявки, звездочки */

/* Таблица Сотрудники */
.table-add-employee {
    text-align: center;
}
.table-add-employee > tbody > tr > td#employee-post {
    background: #2d18b4;
    color: #fff;
    font-weight: bold;
}
/* Конец Таблица Сотрудники */

/* Статусы заявок, таблица */
.badge {
    height: 35px;
    width: 100px;
    background: #fff;
    color: #000;
    border-radius: 25px;
    font-size: 9px;
    line-height: 18px;
    padding-top: 8px;
    text-transform: uppercase;
    cursor: default;
}
.panel__request_block {
    border: none;
}
.panel-default > .panel-heading-0 {
    background-color: transparent;
    border: 2px solid #598eff;
    border-radius: 25px;
}
.panel-default > .panel-heading-1 {
    background-color: transparent;
    border: 2px solid #ff7d7d;
    border-radius: 25px;
}
.panel-default > .panel-heading-1 {
    background-color: transparent;
    border: 2px solid #ff7d7d;
    border-radius: 25px;
}
.panel-default > .panel-heading-2 {
    background-color: transparent;
    border: 2px solid #e17dff;
    border-radius: 25px;
}
.panel-default > .panel-heading-3 {
    background-color: transparent;
    border: 2px solid #7c7c7c;
    border-radius: 25px;
}
.panel-default > .panel-heading-4 {
    background-color: transparent;
    border: 2px solid #1fd68d;
    border-radius: 25px;
}
.panel-default > .panel-heading-5 {
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 25px;
}
.panel-default h4.panel-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}
.date-create-request {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}
.dispatcher_genaral-page__request_block {
    border-bottom: 1px solid #ddd;
    height: 170px;
    padding: 10px 0 0 0;
    margin-bottom: 15px;
}
.req-badge-new {
    border: 2px solid #598eff;
    box-shadow: 0px 1px 4px 6px rgba(0,101,255,0.28);
}
.req-badge-work {
    border: 2px solid #ff7d7d;
    box-shadow: 0px 1px 4px 6px rgba(252,193,193,0.83);
}
.req-badge-complete {
    border: 2px solid #7c7c7c;
    box-shadow: 0px 1px 4px 6px rgba(255,125,125,0.26);    
}
.req-badge-rectification {
    border: 2px solid #e17dff;
    box-shadow: 0px 1px 4px 6px rgba(225,125,255,0.42);
}
.req-badge-close {
    border: 2px solid #1fd68d;
    box-shadow: 0px 1px 4px 6px rgba(56,231,161,0.54);    
}
.news-block__news-item {
    border-bottom: 1px solid #ddd;
}
.req-badge-reject {
    border: 2px solid #5f697a
}
.request-ident {
    background: #2d18b4;
    border-radius: 25px;
    padding: 10px 30px;
    margin-right: 20px;
    font-size: 12px;
    width: 170px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}
/* Конец Статусы заявок, таблица */

/* Статусы заявок, отдельная страница */
.badge-page {
    height: 35px;
    background: #fff;
    padding: 7px;
    color: #000;
    border-radius: 25px;
    font-size: 10px;
    line-height: 15px;
    padding-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
}
.req-badge-new-page {
    border: 2px solid #598eff;
    box-shadow: 0px 1px 4px 6px rgba(0,101,255,0.28);
}
.req-badge-work-page {
    border: 2px solid #ff7d7d;
    box-shadow: 0px 1px 4px 6px rgba(252,193,193,0.83);
}
.req-badge-complete-page {
    border: 2px solid #7c7c7c;
    box-shadow: 0px 1px 4px 6px rgba(255,125,125,0.26);
}
.req-badge-rectification-page {
    border: 2px solid #e17dff;
    box-shadow: 0px 1px 4px 6px rgba(225,125,255,0.42);
}
.req-badge-close-page {
    border: 2px solid #1fd68d;
    box-shadow: 0px 1px 4px 6px rgba(56,231,161,0.54);
}
.req-badge-reject-page {
    border: 2px solid #5f697a;
}

.req-badge-new-page span:first-child {
    border-right: 1px solid #598eff;
    padding: 8px 15px;
}
.req-badge-new-page span:last-child {
    padding: 8px 15px;
}
.req-badge-work-page span:first-child {
    border-right: 1px solid #ff7d7d;
    padding: 8px 15px;
}
.req-badge-work-page span:last-child {
    padding: 8px 15px;
}
.req-badge-complete-page span:first-child {
    border-right: 1px solid #7c7c7c;
    padding: 8px 15px;
}
.req-badge-complete-page span:last-child {
    padding: 8px 15px;
}
a.request__link-view {
    padding: 7px 10px;
    background-color: #2d18b4;
    color: #fff;
    border-radius: 25px;
    font-size: 12px;
    text-align: center;
}
a.request__link-view:hover {
    background-color: #3231ab;
}
.req-badge-rectification-page span:first-child {
    border-right: 1px solid #e17dff;
    padding: 8px 15px;
}
.req-badge-rectification-page span:last-child {
    padding: 8px 15px;
}
.req-badge-close-page span:first-child {
    border-right: 1px solid #1fd68d;
    padding: 8px 15px;
}
.req-badge-close-page span:last-child {
    padding: 8px 15px;
}
.req-badge-reject-page span:first-child {
    border-right: 1px solid #5f697a;
    padding: 8px 15px;
}
.req-badge-reject-page span:last-child {
    padding: 8px 15px;
}
/* Конец Статусы заявок, отдельная страница */

/* Модальное окно назначение сотрудника на заяку */
.employee-lists {
    height: 300px;
    overflow: auto;
    padding: 20px 0;
}
.search-employee_input {
    background-image: url(/images/searchicon.jpg);
    background-repeat: no-repeat;
    background-position: 30px 11px;
    background-size: 3%;
    background-color: transparent;
    width: 100%;
    font-size: 12px;
    padding: 12px 20px 12px 70px;
    border: 1px solid #8b709d;
    margin-bottom: 12px;
    border-radius: 25px;
    outline: none;
}
#employees-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
#employees-list > li > a {
    background: transparent;
    border: 1px solid #8b709d;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    margin-top: -1px;
    padding: 12px;
    text-decoration: none;
    display: block;
    width: 98%;
}
#employees-list > li > a.active,
#employees-list > li > a:hover {
    background: #2d18b4;
}
.employee-lists::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #ddd;
}

.employee-lists::-webkit-scrollbar {
    width: 7px;
    background-color: #ddd;
}

.employee-lists::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #8b709d;
}

/* Конец Модальное окно назначение сотрудника на заяку */

/* Таблица, Диспетчеры */
.dispatcher-table {
    border-collapse: unset;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 12px;
    margin-bottom: 0px;
}
.dispatcher-table-in {
    border-collapse: unset;
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    font-size: 12px;
    border-radius: 0;
    margin-bottom: 30px;
}
.dispatcher-table-in {
    border-collapse: unset;
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    font-size: 12px;
    border-radius: 0;
    margin-bottom: 30px;
}
.dispatcher-table thead {
    color: #2d18b4;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
}
.dispatcher-table > thead > tr > th {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    border: none;
    padding: 25px 0;
}
.dispatcher-table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    padding: 15px 5px;
}
.dispatcher-table > tbody > tr > td.status-not-found,
tbody > tr > td > div.empty {
    vertical-align: middle;
    text-align: left;
    padding: 15px;
}
.dispatcher-table > tbody > tr > td.status-not-found::before,
tbody > tr > td > div.empty::before {
    color: #2d18b4;
    content: '\02139';
    padding: 7px 10px;
    font-size: 20px;
    font-weight: bold;
}
.dispatcher-table > tbody > tr.form-notice-in-table > td {
    vertical-align: middle;
    text-align: left;
    padding: 30px 15px;
    border: none;
    border-top: 1px solid #ddd;
}
.dispatcher-table > tbody > tr.btn-block-in-table > td {
    vertical-align: middle;
    text-align: center;
    padding: 30px;
    border: none;
}
.dispatcher-table > tbody > tr.form-notice-in-table:hover, 
.dispatcher-table > tbody > tr.btn-block-in-table:hover {
    background: #fff !important;
}
.dispatcher-table > tbody > tr:hover {
    background: #d1ccef;
}
.dispatcher-table_small {
    width: 5%;
    text-align: left;
}
.dispatcher-table_middle {
    width: 15%;
}
.dispatcher-table_big {
    width: 25%;
    text-align: left !important;
}
.dispatcher-table_left {
    text-align: left !important;    
}
.dispatcher-table i.glyphicon-map-marker {
    color: #2d18b4;
}
.dispatcher-table > tbody > tr > td > a {
    color: #2d18b4;
}
.no-border-bottom {
    border-bottom: none;
}
/* Таблица, Диспетчеры */

/* Жилищный фонд */
.housing-stock {
    border: 1px solid #ddd;
    border-radius: 12px;
}
.housing-stock > div[class*="col-"] {
    padding: 0;
    margin: 0;
    border-right: 1px solid #ddd;
    min-height: 1255px;
}
.housing-stock > div[class*="col-"]:last-child {
    border-right: none;
}
.housing-stock > div > h4.title,
#flats_list > h4.title {
    padding: 20px 15px;
    margin: 0;
    color: #2d18b4;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}
.action-housing-stock > .dropdown-menu {
    position: initial;
    margin-right: -30px;
    margin-top: -50px;
}
.action-housing-stock > .dropdown-menu > li > a {
    padding: 10px 20px;
}
.action-housing-stock {
    position: fixed;
    right: 2%;
    bottom: 10%;    
}
.action-housing-stock__button {
    background-image: url(/images/clients/new_record.svg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    background-color: transparent;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    outline: none;
}
.panel-housing-stock > .panel-heading {
    padding-left: 60px;
}
.panel-housing-stock > .panel-heading:before {
    font-family: 'Glyphicons Halflings';
    content: "\e021";
    position: absolute;
    left: 3%;
    font-size: 18px;
    color: #2d18b4;
    line-height: 1.8;
}
.panel-housing-stock > .panel-heading > h4 > a {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.house-adress {
    font-size: 14px;
    color: #2d18b4;
    padding-left: 20px;
}
.house-adress:before {
    font-family: 'Glyphicons Halflings';
    content: "\e062";
    margin-right: 5px;
    font-size: 16px;
    position: absolute;
    left: 9%;
}
.panel-housing-stock > .panel-collapse {
    background: #454545;
    color: #fff;
}
.house-description {
    font-size: 14px;
}
.house-description > span {
    font-size: 12px;
}
.house-description > p {
    text-align: justify;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.house-description > p > span {
    font-size: 12px;
    color: #ddd;
    font-style: italic;
}
#edit-discription-btn {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px;
    font-weight: bold;
}
#edit-discription-btn:hover,
#edit-discription-btn:active,
#edit-discription-btn:focus {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
}
#edit-discription-btn:before {
    font-family: 'Glyphicons Halflings';
    content: "\270f";
    padding: 0 10px 0 0;
}
.flats-items {
    height: 1200px;
    overflow: auto;
}
.flats-info {
    border-bottom: 1px solid #ddd;
    position: relative;
}
.flats-info > h3.title {
    background: #2d18b4;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 10px 20px;
    border-radius: 25px;
}
.flats-info > h3.title-debtor {
    background: #2d18b4;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    padding: 0 20px 0 55px;
    margin: 10px 20px;
    border-radius: 25px;
}
.flats-info > h3.title-debtor:before {
    font-family: cursive;
    content: '-\20bd';
    background: #ef693a;
    padding: 1px 9px;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    left: 19px;
}
.flats-info__info {
    display: flex;
    padding: 10px 20px;
}
.flats-info__info_image img {
    width: 50px;
    height: 50px;
}
.flats-info__info_content {
    padding-left: 15px;
    width: 100%;
}
.flats-info__info_content > p > label {
    float: right;
}
.flats-info__info_content > span,
.notes-flats-list > li.first-title {
    font-size: 10px;
    color: #2d18b4;
    text-transform: uppercase;
    letter-spacing: .09em;
}
#add-note {
    padding: 0;
    float: right;
    background: transparent;
    border: none;
}
#add-note:active,
#add-note:focus,
#add-note:hover {
    outline: none;
}
#add-note:before {
    font-weight: bold;
    content: "\e081";
    font-family: 'Glyphicons Halflings';
    font-size: 18px;
}
.note-message {
    color: #ef693a;
    margin: 0;
    font-size: 14px;
    text-align: justify;
}
.note-message:hover:before {
    content: '\002B';
    border-right: 10px solid red;
}
.notes-flats-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.notes-flats-list > li {
    padding: 0 35px 0 0;
    text-decoration: none;
    font-size: 14px;
    color: #ef693a;
    display: block;
    position: relative;
    text-align: justify;
    cursor: default;
}
.notes-flats-list > li > span.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0%;
    font-size: 14px;
    padding: 5px;
    transform: translate(0%, -50%);
}
.notes-flats-list > li > span.close:hover {
    background: #ef693a;
    color: #fff;
}
.modal-note-info {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    margin: 0 -15px;
    background: rgba(221, 200, 253, 0.15);
}
.modal-note-info span {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 0 10px;
    font-size: 12px;
}
.table-characteristics {
    border: none;
}
.table-characteristics > tbody > tr > td:first-child {
    width: 95%;
}
.table-characteristics > tbody > tr > td > a {
    color: #2c3e50;
}
.table-characteristics > tbody > tr > td > a:hover {
    font-weight: bold;
}
.table-characteristics > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}
.table-characteristics > tbody > tr > td.padding-add {
    padding: 25px;
}
.housing-block__btn-del, 
.housing-block__btn-download {
    background: transparent;
    color: #7f8c8d;
    border: none;
}
.housing-block__btn-del:before {
    content: "\e020";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
}
.housing-block__btn-download:before {
    content: "\e197";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
}
.rest_char {
    font-size: 12px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
}
.delete_char {
    font-size: 12px;
    color: #fb6d5b;
    font-weight: normal;
    cursor: pointer;
}
/* Конец Жилищный фонд */

/* Администратор, профиль */
.face-user {
    min-height: 370px;
}
.face-user img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 4px solid #2d18b4;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 30px rgba(45, 24, 180, 0.5);
}
.user-info-block {
    /*padding: 110px 20px;*/
}
.user-info-block_name {
    color: #fff;
    font-size: 24px;
}
.btn-upload__pos {
    position: absolute;
    bottom: 0;
    left: 30%;
}
/* Конец Администратор, профиль */

/* Подменю, профиль собсвенника */
.profile-content {
    min-height: 700px;
}
.profile-content table {
    margin-top: 0;
}
.profile-sub_menu {
    background: linear-gradient(190.67deg, #42314e 50%, rgba(132, 131, 131, 0.65) 100%);
}
.profile-sub_menu_ul {
    margin: 0;
    display: inline-flex;
    list-style-type: none;
}
.profile-sub_menu_ul > li {
    padding: 30px;
    margin: 0px 40px 0px -40px;
}
.profile-sub_menu_ul > li.active,
.profile-sub_menu_ul > li:hover {
    background: rgba(247, 247, 247, 0.16);
}
.profile-sub_menu_ul > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.clients-profile-info_manager {
    padding: 30px 150px;
    text-align: left;
}
.rent-profile-info_manager {
    padding: 30px 150px;
    text-align: left;
}
.payments-date-block {
    padding: 20px 15px 80px;
}
.control-block, 
.status-block {
    margin: 10px 0px;
}
.status-block .title {
    display: inline-block;
    padding-right: 50px;
    color: #fff;
    font-size: 12px;
    text-align: right;
}
.status-block span.role-administrator,
.status-block span.role-specialist,
.status-block span.role-dispatcher {
    padding: 2px 0px;
    color: #fff;
    font-size: 12px;
}
.debt-client {
    background: #ef693a;
    font-family: cursive;
    padding: 3px 7px;
    font-size: 22px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px -2px #333;
}
/* Конец Подменю, профиль собсвенника */

/* Новости, главная страница */
.news-margin {
    margin-top: 100px;
    z-index: 10;
}
.news-item {
    height: 480px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 30px;
}
.news-item:hover {
    box-shadow: 0 4px 26px 0 rgba(51, 29, 82, 0.16);
}
.news-item__title {
    padding: 15px;
    position: relative;
}
.news-item__title > a.title {
    font-size: 16px;
    font-weight: bold;
    color: #2d18b4;
    margin: 0;
}
.news-item__title > p.date {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin: 0;
}
.bnt-delete-news {
    position: absolute;
    right: 5%;
    top: 20%;
    background: transparent;
    color: #fb6d5b;
    border: 2px solid #fb6d5b;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    outline: none;
}
.bnt-delete-news:focus,
.bnt-delete-news:active,
.bnt-delete-news:hover {
    color: #fb6d5b;
    outline: none;
}
.news-item__image {
    width: 100%;
    height: 283px;
    position: relative;
    overflow: hidden;
}
.news_preview {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.news-item__image > span + span {
    margin: 50px 10px !important;
}
.news-item__image > span.item__image_desc {
    position: absolute;
    z-index: 9;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 10px;
    color: #fff;
    font-size: 12px;
    cursor: default;
}
.news-item__image > span > a {
    color: #fff;
    font-size: 12px;
    padding: 0;
}
.news-item__image > span > a:hover {
    text-decoration: none;
    color: #fff;
}
.news-item__image > span:hover {
    background: rgba(55,35,35,0.32);
    cursor: default;
}
.news-item__text {
    padding: 10px 15px;
    position: relative;
    text-align: justify;
}
.news-item__text > p.change-date {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
    color: #999;
    font-style: italic;
    padding: 10px 0;
}
/* Конец Новости, главная страница */

/* Новость, форма создания и редатирования публикации */
.news-form {
    border: 1px solid #ddd;
    border-radius: 12px;
}
.news-form__left-block {
    padding: 10px;
}
.news-form__left-block {}
.news-form__right-block {
    min-height: 1000px;
    border-left: 1px solid #ddd;    
}
.load_preview {
    height: 270px;
    background: #fff;
    position: relative;
}
.load_preview img {
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.check-partners-block {
    border: 1px solid #ef693a;
    padding: 10px;
    border-radius: 12px;
}
.news-form__btn-block {
    margin: 50px 10px;
}
.notice-block {
    margin: 70px 50%;
}
/* Конец Новость, форма создания и редатирования публикации */

/* Таблица загрузки документов */
.table-upload-file {
    border: none;
}
.table-upload-file > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid #ddd;
}
.table-upload-file > tbody > tr > td::before {
    content: '\2713';
    padding-right: 15px;
    font-weight: bold;
    color: #999;
}
.table-upload-file > tbody > tr > td:hover {
    border-bottom: 1px solid #2ab5f1;
}
.table-upload-file > tbody > tr > td a {
    color: #999;
    font-size: 12px;
}
.table-upload-file > tbody > tr > td a:hover {
    font-weight: bold;
}
.table-upload-file > tbody > tr > td span.delete_span {
    background: transparent;
    border: none;
    color: #999;
    float: right;
    cursor: pointer;
}
.table-upload-file > tbody > tr > td span.delete_span:hover {
    font-weight: bold;
    cursor: pointer;
}
.table-upload-file > tbody > tr > td span.delete_span > a:first-child {
    color: #fb6d5b;
    font-weight: normal;
}
.table-upload-file > tbody > tr > td span.delete_span > a:last-child {
    color: #3498db;
    font-weight: normal;
}
/* Конец Таблица загрузки документов */

/* Кнопка загрузки изображений */
.upload-btn-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.btn-upload-cover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.32);
    padding: 10px 70px 0 70px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}
.btn-upload-cover:hover {
    box-shadow: 0px 1px 6px 1px rgba(55,35,35,0.32);
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.field-btnLoad > label > label.control-label {
    font-weight: normal;
    cursor: pointer;
}
.btn-upload label {
    color: #fff;
}
/* Конец Кнопка загрузки изображений */

/* Профиль пользователя */
#panel-search {
    display: inline-flex;
}
.btn-show-results {
    height: 45px;
    margin: 0 30px;
    border-radius: 12px;
    border: 1px solid #2d18b4;
    background-color: #fff;
    color: #3436ae;
    font-size: 12px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}
.profile-upload-btn {
    position: absolute;
    top: 40%;
    cursor: pointer;
}
.profile-upload-btn-employee {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -30%);
}
.field-btnLoad > label > label.control-label {
    font-weight: normal;
    cursor: pointer;
}
.btn-upload label {
    font-weight: 100;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
/* Конец Профиль пользователя */

/* Постраничная нафигация, таблица */
.pagination {
    margin: 5px 0;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    color: #67768a;
    border-bottom: 2px solid #67768a;
    background-color: #fff;    
}
.pagination > li > a, .pagination > li > span {
    color: #7c7c7c;
    background-color: transparent;
    font-size: 14px;
    padding: 2px 7px;
    border: none;
}
.pagination > li > a:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    color: #7c7c7c;
    background-color: transparent;
    border-bottom: 2px solid #ef693a;    
}
.pagination > li.prev > a:hover, 
.pagination > li.next > a:hover, 
.pagination > .active > span:hover, 
.pagination > li > span:hover {
    border: none;
}
.pagination > li.prev > a:hover i, 
.pagination > li.next > a:hover i {
    color: #ef693a;
}
.pagination i {
    font-size: 10px;
    color: #7c7c7c;
}
/* Конец Постраничная нафигация, таблица */

/* Уведомления на странице */
.notice {
    position: relative;
    margin: 2em;
    background: #fff;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    font-size: 12px;
    letter-spacing: 0.1em;
    color: rgb(69, 69, 69);
}
.notice p {
    margin: 0;
    font-size: 13px;
    color: #67768a;
}
.notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #DDD;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.info {
    border-color: #1fd68d;
}
.warning {
    border-color: #fed75b;
}
.success {
    border-color: #1fd68d;
}
.error {
    border-color: #ef693a;
}
/* Конец Уведомления на странице */

/* Переопреденное модальное окно бутстрапа */
.modal-content {
    position: relative;
    /*top: 100px;*/
    background: linear-gradient(180.67deg, #39284E 0%, rgba(10,8,8,0.7) 100%);
    margin: 0;
    padding-top: 30px;
    z-index: 10100;
    box-sizing: border-box;
    box-shadow: 0 10px 14px 2px rgba(0,0,0,0.26);
    border-radius: 15px;
    transition: background .2s;
}
.modal-header {
    padding: 5px 35px;    
    color: #fff;
    border-bottom: none;
    text-align: center;
    font-size: 21px;
}
.modal-header .close {
    /*margin: 0 !important;*/
    margin: -10px !important;
}
.modal-close-btn {
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    border: 2px solid #FF1760 !important;
    border-radius: 50%;
    padding: 0 !important;
    padding-bottom: 4px !important;
    color: #FF1760;
    text-shadow: none! important;
    opacity: 1;
    line-height: 1.5;
}
.modal-close-btn:hover {
    color: white;
    background-color: #FF1760;
}
.modal-footer {
    border: none;
    padding: 20px 10px;
    text-align: center;
}
.modal-body {
    color: #fff;
    text-align: left;
}
.modal-body span#disp-fullname {}
/* Конец Переопреденное модальное окно бутстрапа */

/* Всплывающие уведовления */
.alert-message[data-notification-status="success"] {
    border-left: 7px solid #1fd68d;
}
.alert-message[data-notification-status="error"] {
    border-left: 7px solid #ff7d7d;
}
.alert-message {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #454545;
    background: #fff;
    font-size: 12px;
    line-height: 1.3;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    width: 350px;
    margin: 40px 20px;
    /*top: 20%;*/
    right: 0;
    cursor: default;
}
.alert-message::before {
    content: '\2716';
    display: block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-right: 20px;
    font-size: 24px;
}
.alert-message[data-notification-status="success"]:before {
    color: #1fd68d;
}
.alert-message[data-notification-status="error"]:before {
    color: #ff7d7d;
}
/* Конец Всплывающие уведовления */

/* Modal window for load image at redactor */
#redactor-modal {
    background: linear-gradient(180.67deg, #39284E 0%, rgba(10,8,8,0.7) 100%);
    border-radius: 12px;
}
#redactor-modal header {
    color: #fff;
    font-weight: normal;
}
#redactor-droparea {
    border: 2px dashed #8b709d;
}
#redactor-modal-close {
    color: #FF1760;
}
#redactor-modal-close:hover {
    color: #fff;
}
#redactor-modal section {
    padding: 10px;
}
#redactor-modal label {
    color: #fff;
    font-weight: 100;
}
#redactor-modal footer button,
#redactor-modal footer button.redactor-modal-delete-btn,
#redactor-modal footer button.redactor-modal-action-btn {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#redactor-modal footer {
    padding: 10px !important;
}
/* End Modal window for load image at redactor */