/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.02.2019, 15:49:41
    Author     : Ekaterina
*/

/* Диспетчер, контент + доп меню */
.dispatcher-main-with-sub {
    margin-top: 100px;
}
.dispatcher-main-with-sub-general {
    margin-top: 125px;
}
.dispatcher-main-with-sub-designer {
    margin-top: 130px;
}
/* Конец Диспетчер, контент + доп меню */

/* Диспетчер, контент */
.dispatcher-main {
    margin-top: -40px;
}
/* Конец Диспетчер, контент */

/* Диспетчер, главная страница */
.dispatcher__genaral-page {}
.dispatcher__genaral-page > div[class^="col-"] {
    padding: 0;
    margin: 0;
}
.dispatcher__genaral-page__notice,
.dispatcher__genaral-page__news-block {
    border: 1px solid #ddd;
    margin: 10px;
    height: 700px;
    box-shadow: 0 4px 26px 0 rgba(51, 29, 82, 0.16);
    overflow: auto;
    position: relative;
}
.dispatcher__genaral-page__notice {
    border-radius: 12px;    
}
.dispatcher__genaral-page__news-block {
    margin-top: -10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.dispatcher__genaral-page__notice::-webkit-scrollbar-track,
.dispatcher__genaral-page__news-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #ddd;
}

.dispatcher__genaral-page__notice::-webkit-scrollbar,
.dispatcher__genaral-page__news-block::-webkit-scrollbar {
    width: 12px;
    background-color: #ddd;
}

.dispatcher__genaral-page__notice::-webkit-scrollbar-thumb,
.dispatcher__genaral-page__news-block::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #524e53;
}
.dispatcher__genaral-page__request {
    margin: 10px;
}
.notice__user_block {
    display: inline-block;
    position: relative;
    padding: 0 25px;
    margin: 15px;
    height: 50px;
    width: 90%;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.notice__user_block:hover,
.notice__user__active {
    box-shadow: 0px 1px 4px 4px rgba(133, 134, 136, 0.2);
}
.notice__user_block img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.notice__user_block span.notice__count {
    font-size: 10px;
    background: #ef693a;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    right: 5%;
    top: 30%;
    width: 25px;
    height: 25px;
    line-height: 0;
    text-align: center;
    padding-top: 12px;
}
.notice__user_block span.notice__username {
    font-size: 14px;
    font-weight: bold;
}
.dispatcher_genaral-page__request_block {
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 170px;
    padding: 10px 0 0 0;
    margin-bottom: 15px;
    box-shadow: 0 4px 26px 0 rgba(51, 29, 82, 0.16);
}
.request_block__info {
    display: inline-grid;
}
.request_block__info,
.request_block__content,
.request_block__adress {
    padding: 0 10px;
    font-size: 12px;
}
.request_block__content_img {
    padding: 10px 0;
}
.request_block__content_img img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 12px;
}
.request_block__info > span {
    margin: 10px 0;
}
.request_block__info > span.request_number {
    padding: 7px 10px;
    background: #2d18b4;
    color: #fff;
    border-radius: 25px;
    width: 150px;
    font-size: 12px;
    text-align: center;
}
.news-block__news-item {
    border-bottom: 1px solid #ddd;
}
.news-block__news-item__title {
    padding: 10px;
}
.news-block__news-item__title p {
    padding: 0;
    margin: 0;
}
.news-block__news-item__title a.a_title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.news-block__news-item__title a.a_title:hover {
    color: #2d18b4;
}
.news-block__news-item__title p.date {
    font-size: 12px;
    color: #2d18b4;
    font-weight: bold;
}
.news-block__news-item__image {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
}
.news-block__news-item__image img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.news-block__news-item__content {
    padding: 10px;
    font-size: 14px;
    text-align: justify;
}
.margin-btn {
    right: 27%;
}
.dispatcher__genaral-page__news-btn {
    background: #454545;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 1;
}
a.news-block__create-link {
    color: #fff;
    font-size: 12px;
}
a.news-block__create-link:before {
    content: '\0271A';
    padding-right: 10px;
}
a.request__link-view {
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    color: #2d18b4;
}
a.request__link-view:before {
    content: '\0270E';
    padding-right: 5px;
}
a.request__link-view:hover {
    color: #f0754a;
}
/* Конец Диспетчер, главная страница */