/*
    media css for dispatchers app
*/

 /* Nav menu*/ 
@media screen and (min-width: 991px) {
    .navbar-mobile-menu__items {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .navbar-mobile-menu__items {
        position: fixed;
        z-index: 1024;
        display: none;
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        justify-content: flex-start;
        background: linear-gradient(180.67deg, #39284E 0, rgba(10,8,8,0.7) 117%);
    }
    .mobile-menu__items {
        list-style: none;
        width: 100vh;
        padding: 0;
        margin: 0;
    }
    .mobile-menu__items > li {
        padding: 10px;
    }
    .mobile-menu__items > li > a {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
    }
    .mobile-menu__items > li a:focus {
        text-decoration: none;
    }
    .mobile-menu__items > li > a:hover {
        font-weight: bold;
    }
    .mobile-menu__hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    }
    .mobile-menu_show {
        display: flex;
    }
    .navbar-menu__items {
        display: none;
    }
    .user-notification {
        display: none;
    }
    .navbar-general-page {
        /*margin-top: 70px;*/
    }
    .navbar__pills > li, .navbar__pills > li:first-child {
        width: 150px;
        height: 50px;
    }
    .navbar__pills > li > a {
        font-size: 10px;
    }    
}
@media screen and (max-width: 770px) {
    .navbar-general-page {
        /*margin-top: 150px;*/
    }
}
@media screen and (max-width: 520px) {
    .navbar-general-page {
        /*margin-top: 170px;*/
    }
}
 /*End Nav menu*/ 

/* Content */
@media screen and (max-width: 991px) {
    .dispatcher-main-with-sub-1 {
        margin-top: 90px;
    }
    .dispatcher-main-with-sub {
        margin-top: 185px;
    }
}
@media screen and (max-width: 768px) {
    .dispatcher-main-with-sub {
        margin-top: 230px;
    }
}
@media screen and (max-width: 560px) {
    .dispatcher-main-with-sub {
        margin-top: 280px;
    }
    .dispatcher-main {
        margin-top: 0;
    }
}
@media screen and (max-width: 550px) {
    .dispatcher-main-with-sub {
        margin-top: 380px;
    }
    .dispatcher-main-with-sub-1 {
        margin-top: 190px;
    }
}
/* End Content */

/* Search panel */
@media screen and (max-width: 991px) {
    .search-panel {
        padding: 0 !important; 
    }
    .search-panel__btn {
        height: 9em !important;
    }
}
@media screen and (max-width: 768px) {
    .search-panel form {
        padding: 5px;
    }
    .search-panel__btn {
        height: 3em !important;
    }
    .search-panel {
        padding: 0px !important;
    }
    .search-block__button {
        padding: 6px 12px !important;
    }    
}
/* End Search panel */

/* General Page */
@media screen and (max-width: 1680px) {
    .news-block__news-item__image {
        height: 190px;
    }
}
@media screen and (max-width: 1600px) {
    .news-block__news-item__image {
        height: 170px;
    }
}
@media screen and (max-width: 1300px) {
    .news-block__news-item__image {
        height: 150px;
    }
    .badge-page {
        font-size: 9px !important;
    }
    .req-badge-new-page span:last-child {
        padding: 8px 10px;
    }
}
@media screen and (max-width: 1200px) {
    .news-block__news-item__image {
        height: 130px;
    }
    .news-block__news-item__content {
        font-size: 12px;
    }
    .dispatcher_genaral-page__request_block {
        height: 270px;
    }
    .request_block__info > span.request_number {
        padding: 2px;
        margin: 5px 0;
    }
    .request_block__adress {
        text-align: left;
        padding: 10px;
    }
}
@media screen and (max-width: 1130px) {
    .news-block__news-item__image {
        height: 110px;
    }
}
@media screen and (max-width: 991px) {
    .news-block__news-item__image {
        height: 240px;
    }
    .news-block__news-item__content {
        font-size: 14px;
    }
}
@media screen and (max-width: 560px) {
    .dispatcher-main-with-sub-general {
        margin-top: 150px;
    }
    .news-block__news-item__image {
        height: 220px;
    }   
}
/* End General Page */

/* Request Page */
@media screen and (max-width: 991px) {
    .margin-search-panel {
        margin-top: 275px;
    }
}
@media screen and (max-width: 768px) {
    .margin-search-panel {
        margin-top: 325px;
    }
}
@media screen and (max-width: 560px) {
    .search-panel {
        /*margin-top: 50px;*/
    }
    .margin-search-panel {
        margin-top: 370px;
    }
}
@media screen and (max-width: 550px) {
    .margin-search-panel {
        margin-top: 515px;
    }    
}
/* End Request Page */

/* News Page */
@media screen and (max-width: 1500px) {
    .load_preview {
        height: 300px;
    }
    .news-item__title {
        height: 100px;
    }
}
@media screen and (max-width: 1360px) {
    .news-item__image {
        height: 220px;
    }
    .news-item__title > a.title {
        font-size: 16px;
    }
    .news-item__title > p.date {
        font-size: 12px;
    }
    .news-item__text {
        padding: 20px;
    }
}
@media screen and (max-width: 1250px) {
    .news-item__text {
        padding: 10px;
    }    
    .load_preview {
        height: 280px;
    }
}
@media screen and (max-width: 1220px) {
    .news-item__title > a.title {
        font-size: 16px;
    }
    .load_preview {
        height: 250px;
    }
    .news-item {
        height: 470px;
    }
}
@media screen and (max-width: 1087px) {
    .__sub-news-1087 {
        margin-top: 230px;
    }
}
@media screen and (max-width: 991px) {
    .news-item__title > a.title {
        font-size: 14px;
    }
    .news-bar > li {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .news-item__text {
        font-size: 12px;
    }
    .load_preview {
        height: 570px;
    }
}
@media screen and (max-width: 900px) {
    .load_preview {
        height: 480px;
    }
}
@media screen and (max-width: 768px) {
    .__sub-news-1087 {
        margin-top: 380px;
    }
    .news-margin {
        margin-top: 80px;
    }
    .load_preview {
        height: 440px;
    }
}
@media screen and (max-width: 650px) {
    .load_preview {
        height: 400px;
    }
}
@media screen and (max-width: 560px) {
    .news-margin {
        margin-top: 120px;
    }
    .__sub-news-1087 {
        margin-top: 420px;
    }
}
/* End News Page */

/* Housing stock Page */
@media screen and (max-width: 1200px) {
    .housing-stock__flats {
        border-right: none !important;
    }
    .housing-stock__files {
        border-top: 1px solid #ddd;
    }
}
@media screen and (max-width: 991px) {
    .housing-stock__characteristics {
        border-right: none !important;
    }
    .housing-stock__flats {
        border-right: 1px solid #ddd !important;
    }
    .housing-stock__flats, .housing-stock__files {
        border-top: 1px solid #ddd;
    }
}
@media screen and (max-width: 768px) {
    .housing-stock__description, 
    .housing-stock__flats, 
    .housing-stock__files {
        border-right: none !important;
    }
    .housing-stock__characteristics {
        border-top: 1px solid #ddd;
    }
}
/* End Housing stock Page */

/* Clients Profile */
@media screen and (max-width: 1380px) {
    .profile-sub_menu_ul > li {
        padding: 20px;
        /*margin: 0px 20px 0px -20px;*/
    }
    .profile-sub_menu_ul > li > a {
        font-size: 12px;
    }
}
@media screen and (max-width: 1110px) {
    .profile-sub_menu_ul > li {
        padding: 10px;
    }
    .custom-select-trigger-dark {
        width: 340px !important;
    }
    .custom-option-dark {
        font-size: 12px !important;
        line-height: 35px !important;
    }
}
@media screen and (max-width: 991px) {
    .face-user img {
        box-shadow: 0px 0px 0px 28px rgba(45, 24, 180, 0.5);
    }
    .user-info-block_name {
        font-size: 22px;
    }
    .debt-client {
        font-size: 18px;
        padding: 3px 6px;
    }
}
@media screen and (max-width: 780px) {
    .user-info-block {
        padding: 88px 20px;
    }
}
@media screen and (max-width: 650px) {
    .face-user img {
        width: 100px;
        height: 100px;
    }
    .user-info-block_name {
        font-size: 19px;
    }
    .profile-sub_menu_ul > li {
        padding: 5px;
    }
    .profile-sub_menu_ul > li > a {
        font-size: 10px;
    }
    .profile-sub_menu_ul {
        display: block;
    }
    .custom-select-trigger-dark {
        width: 280px !important;
    }
}
@media screen and (max-width: 560px) {
    .face-user img {
        width: 70px;
        height: 70px;
    }
    .custom-select-trigger-dark {
        width: 200px !important;
    }
}
/* End Clients Profile */