/* 
    Buttons Styles
*/

/* Кнопки */
.btn {
    /*height: 56px;*/
    /*width: 250px;*/
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}
.btn-small {
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    outline: none;
    border: none;
}
.btn-modal {
    padding: 20px;
    width: 200px;
    background: transparent;
    border: 1px solid #ddd;
    color: #ccc;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    transition: 0.7s;
}
.btn-grade {
    border: none;
    padding: 5px;
    width: 30px;
}
.btn-dropdown {
    border: none;
}
.btn:hover, .btn:active, .btn:focus,
.btn-small:hover, .btn-small:active, .btn-small:focus {
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    outline: none;
}
.btn-modal-yes:hover, .btn-modal-yes:active, .btn-modal-yes:focus {
    border: 1px solid #8b709d;
    background: #fff;
    color: #8b709d;
    outline: none;
}
.btn-modal-no:hover, .btn-modal-no:active, .btn-modal-no:focus {
    border: 1px solid #fc3232;
    background: #fc3232;
    color: #fff;
    outline: none;
}
.blue-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #2d18b4;
    background-color: #2d18b4;
    color: #fff;
}
.blue-btn:hover, .blue-btn:active, .blue-btn:focus {
    color: #fff;
}
.red-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #fc3232;
    background-color: #fc3232;
    color: #fff;
}
.red-btn:hover {
    color: #fff;
}
.orange-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #ef693a;
    background-color: #ef693a;
    color: #fff;
}
.orange-btn:hover {
    color: #fff;
}
.white-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #2d18b4;
    background-color: #fff;
    color: #2d18b4;
}
.white-btn:hover {
    background: #2d18b4;
    color: #fff;
}

.btn-changes-yes {
    background: #fff;
    border: 1px solid #2d18b4;
    color: #2d18b4;
}
.btn-changes-yes:hover {
    background: #2d18b4;
    color: #fff;
}
.btn-changes-no {
    background: #fff;
    border: 1px solid #fc3232;
    color: #fc3232;
}
.btn-changes-no:hover {
    background: #fc3232;
    color: #fff;
}

.blue-circle-btn {
    background-image: url(/images/clients/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;    
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.blue-circle-btn:hover {
    background-image: url(/images/clients/arrow_right_hover.png);
    outline: none;
}
.blue-circle-btn:focus {
    outline: none;
}
#send-request-to-sms,
#reset-password-sms {
    position: absolute;
    top: 40px;
    left: 79%;
    background: transparent;
    border: none;
    padding: 0;
    color: #2d18b4;
    cursor: pointer;
}
#send-request-to-sms:focus, 
reset-password-sms:focus{
    outline: none;
}

.btn-send-request {
    margin: 0 10px;
    background: #fff;
    border: 1px solid #2d18b4;
    padding: 0 15px;
    color: #2d18b4;
    border-radius: 12px;
    outline: none;
}
.btn-send-request:focus {
    outline: none;
}

/* Конец Кнопки */

/* Кнопка в таблице */
.btn-edit-in-table {
    padding: 8px 10px;
    border: 2px solid #2d18b4;
    color: #fc3838;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    background: #fff;
    font-weight: 900;
    outline: none;
}
.btn-edit-in-table::before {
/*    content: '\0270E';
    padding: 0 5px 0 0;*/
}
.btn-edit-in-table:hover {
    background-color: #2d18b4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #fff;
}

.btn-delete-in-table {
    padding: 8px 16px;
    border: 2px solid #ef693a;
    color: #fc3838;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    background: #fff;
    font-weight: 900;
    outline: none;
}
.btn-delete-in-table::before {
    content: '\02715';
    padding: 0 5px 0 0;
}
.btn-delete-in-table:hover {
    background-color: #ef693a;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #fff;
}
/* Конец Кнопка в таблице */
/* Кнопка сменить пароль пользователя */
.btn-change-password {
    padding: 3px 10px;
    border: 1px solid #8f55e9;
    border-radius: 12px;
    background-color: #8f55e9;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-change-password:hover,
.btn-change-password:focus,
.btn-change-password:active {
    color: #fff;
    background-color: #6e39c4;
    border-color: #6e39c4;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;
}
/* Конец Кнопка сменить пароль пользователя */
/* Кнопка блокировать пользователя */
.btn-block-user {
    padding: 3px 10px;
    border: 1px solid #ef693a;
    border-radius: 12px;
    background-color: #f0754a;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-block-user:hover,
.btn-block-user:focus,
.btn-block-user:active {
    color: #fff;
    background-color: #ef693a;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;    
}
/* Конец Кнопка блокировать пользователя */
/* Кнопка разблокировать пользователя */
.btn-unblock-user {
    padding: 3px 10px;
    border: 1px solid #23dd6f;
    border-radius: 12px;
    background-color: #23dd6f;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-unblock-user:hover,
.btn-unblock-user:focus,
.btn-unblock-user:active {
    color: #fff;
    background-color: #23dd6f;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;
}
/* Конец Кнопка разблокировать пользователя */
/* Кнопка удалить пользователя */
.btn-delete-user {
    padding: 3px 10px;
    border: 1px solid #fc3232;
    border-radius: 12px;
    background-color: #fc3232;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-delete-user:hover,
.btn-delete-user:focus,
.btn-delete-user:active {
    color: #fff;
    background-color: #f36;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;
}
/* Конец Кнопка удалить пользователя */
/* Кнопка настройки заявки */
.settings-record-btn {
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #fff;
    background-color: #2d18b4;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin: 0 10px;
    float: right;
    outline: none;
    font-weight: normal;
}
.settings-record-btn:hover {
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #2d18b4;
    outline: none;
}
.settings-record-btn > i {
    padding-right: 10px;
}
/* Конец Кнопка настройки заявки */

/* Кнопка Редактировать заявку */
.edit-request-btn {
    padding: 12px 20px;
    border: 2px solid #2d18b4;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-decoration: none;
}
.edit-request-btn > i {
    padding-right: 10px;
}
.edit-request-btn:focus,
.edit-request-btn:hover {
    background-color: #2d18b4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #fff;
    text-decoration: none;
}
/* Конец Кнопка Редактировать заявку */




/* Кнопки-ссылки */
.btn-link {
    padding: 20px;
    height: 56px;
    width: 250px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    text-decoration: none;
}
.white-to-blue-link {
    border: 1px solid #2d18b4;
    background-color: #fff;
    color: #2d18b4;
}
.white-to-blue-link:hover,
.blue-btn-link:hover {
    background-color: #2d18b4;
    color: #fff;
}
.blue-btn-link {
    background-color: #2d18b4;
    color: #fff;
}
.red-border-btn-link {
    border: 2px solid #fc3232;
    background-color: #fff;
    color: #fc3232;
}
.red-btn-link {
    border: 1px solid #fc3232;
    background-color: #fc3232;
    color: #fff;
}
.red-btn-link:hover, 
.red-border-btn-link:hover {
    background-color: #fc3232;
    color: #fff;
}
.card-link-blue {
    width: 160px;
    border: 1px solid #2d18b4;
    color: #2d18b4;
    border-radius: 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-align: center;
}
.card-link-blue:hover, .card-link-blue:active, .card-link-blue:focus {
    background: #2d18b4;
    color: #fff;
}
/* Конец Кнопки-ссылки */

/* Notifications Bar */
.notification__dropdown {
    padding: 10px;
    min-height: 70px;
    width: 320px;
    cursor: default;
}
.notification__dropdown a.notification_reset {
    color: #bcbcbc;
    font-size: 12px;
    padding: 0 0 20px;
    cursor: pointer;
}
.notification__dropdown a.notification_link {
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
span.dot {
    height: 7px;
    width: 7px;
    background-color: #1fd68d;;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.notification__dropdown p {
    color: #bcbcbc;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.notification__dot {
    position: absolute;
    top: 0%;
    right: 10%;
    background: #fc3232;
    padding: 7px 7px;
    border-radius: 12px;
}
/* End Notifications Bar */