/*
Form styles
*/
/* 
    Created on : 08.11.2018, 9:24:52
*/

/* Основная форма */
.field {
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}
.field-label {
    position: relative;
    margin: 0;
    display: block;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}
.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-size: 16px;
    color: #606060;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}
.field::after, .field::before{
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

.field::after{
    background-color: #2d18b4;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.has-label .field-label{
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label{
    color: #2d18b4;
}
.field.is-focused::after{
    transform: scaleX(1);
}
form .has-error .field::before {
    background-color: #ef693a;
}
/* Конец основной формы */

/* Формы в модальном окне */
.field-modal {
    position: relative;
    height: 60px;
    padding: 5px 0 8px 0;
}
.field-label-modal {
    position: relative;
    margin: 0;
    display: block;
    color:  #8b709d;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}
.field-input-modal {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.field-modal::after, .field-modal::before{
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #8b709d;
}

.field-modal::after{
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.has-label .field-label-modal{
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label-modal{
    color: #fff;
}
.field-modal.is-focused::after{
    transform: scaleX(1);
}
.field-modal select {
    background: transparent;
    color: #fff;
    padding: 0;
    margin: 15px 0;
    border: none;
    outline: none;
}
.field-modal select:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.field-modal select option {
    color: #000;
}
/* Конец формы в модальном окне */

/* Шаги, регистрация */
legend { 
    font-size: 18px; 
    margin: 0px; 
    padding: 10px 0px; 
    color: #b0232a; 
    font-weight: bold;
}

#steps { 
    list-style: none; 
    width: 100%; 
    overflow: hidden;
    margin: 0px; 
    padding: 0px;
}

#steps li {
    font-size: 20px; 
    float: left; 
    padding: 10px; 
    color: #b0b1b3;
    font-family: "Mplus 1p Medium";
}

#steps li span {
    font-size: 11px; 
    display: block;
}

#steps li.current { 
    color: #123750;
}
/* Конец шаги, регистрация */

/* Поле ввода СМС кода */
.field-sms {
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}
.field-label {
    position: relative;
    margin: 0;
    display: block;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}
.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-size: 14px;
    color: #606060;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}
.field-sms::after, .field-sms::before{
    content: '';
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

.field-sms::after{
    background-color: #2d18b4;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.field.is-focused::after{
    transform: scaleX(1);
}

/* Textarea on page */
.field-page-textarea {
    position: relative;
    height: 139px;
    padding: 5px 0 8px 0;
}
.field-input-textarea-page {
    position: relative;
    display: block;
    width: 100%;
    height: 107px;
    padding: 8px 0;
    font-size: 12px;
    line-height: 16px;
    color: #606060;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.field-page-textarea::after, .field-page-textarea::before{
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

.field-page-textarea::after{
    background-color: #2d18b4;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.field-page-textarea.is-focused::after{
    transform: scaleX(1);
}
/* End Textarea on page */

/* Textarea in modal windows */
.field-modal-textarea {
    position: relative;
    height: 139px;
    padding: 5px 0 8px 0;
}
.field-input-textarea-modal {
    position: relative;
    display: block;
    width: 100%;
    height: 107px;
    padding: 8px 0;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.field-modal-textarea::after, .field-modal-textarea::before{
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #8b709d;
}

.field-modal-textarea::after{
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.field-modal-textarea.is-focused::after{
    transform: scaleX(1);
}
/* End Textarea in modal windows */

/* Select in modal window */
.field-modal-select {
    position: relative;
    height: 45px;
    padding: 5px 0 8px 0;
}
.field-modal-select select {
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border: 1px solid #8b709d;
    border-radius: 35px;
    padding: 0px 25px;
    background: transparent;
    -webkit-appearance: button;
    outline: none;
}
.field-modal-select select:focus {
    background: transparent;
    border: 1px solid #8b709d;
    box-shadow: none;
}
.paid-service-dropdown-arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.paid-service-dropdown-arrow::before,
.paid-service-dropdown-arrow::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.paid-service-dropdown-arrow::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}
.paid-service-dropdown-arrow::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}
select[name="category_list"] option {
    color: #000;
}
.paid-service-dropdown-arrow::before {
    background-color: transparent;
}
.paid-service-dropdown-arrow::after {
    color: #fff;
}
.field-modal-select select:disabled {
    background: transparent;
}
.field-modal-select option {
    background: #382949;
    color: #fff;    
}
/* End Select in modal window */

/* File input in modal window */
#uploadImagesList {
    list-style: none;
    padding: 0;
}
#uploadImagesList .item {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
#uploadImagesList .item .img-wrap {
    width: inherit;
    display: block;
    height: 50px;
}
#uploadImagesList .item .img-wrap img {
    width: auto;
    height: inherit;
    border: 1px solid #8b709d;
    border-radius: 5px;    
}
#uploadImagesList .item .delete-link {
    cursor: pointer;
    display: block;
    color: #ff1760;
    position: absolute;
    margin-top: -61px;
    margin-left: 43px;    
}
.modal_btn-upload {
    color: #fff;
    position: absolute;
    margin-left: 64%;
    margin-top: -45px;
    cursor: pointer;    
}
/* End File input in modal window */

/* CheckBox, email уведомления */
.spam-agree-txt label {
    font-weight: unset;
    font-size: 14px;
    cursor: pointer;
}

.spam-agree-txt label:before {
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    margin-left: -36px;
    content: '';
    border: 2px solid #4E33F9;
    border-radius: 5px;
    background: #fff;
    border-radius: 50%;
}

.spam-agree-txt input[type='checkbox']:checked + label:before {
    line-height: 1.5;
    content: '\2713';
    text-align: center;
    color: #fff;
    border: 2px solid #4E33F9;
    background-color: #2D18B4;
    border-radius: 50%;
}
/*input[type="radio"],*/ 
input[type="checkbox"] {
    display: none;
}
/* Конец CheckBox, email уведомления */

/* Календарь */
input[name="date_start-period"],
input[name="date_end-period"] {
    width: 35%;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ddd;    
}
input[name="date_start-period"]:focus,
input[name="date_end-period"]:focus {
    border-color: #8b709d;
    outline: 0;
    box-shadow: none;
}
.datepicker-dropdown {
    color: #fff;
    font-size: 12px;
    z-index: 9999 !important;
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused {
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, .15);        
}
.datepicker table tr td.active.active,
.datepicker table tr td span.active.active {
    color: #2e1e82;
    background-color: #fff;
    border-color: #fff;    
}
.datepicker table tr th {
    font-weight: 100;
}
.datepicker .datepicker-switch:hover, 
.datepicker .prev:hover, 
.datepicker .next:hover, 
.datepicker tfoot tr th:hover,
.datepicker table tr td span:hover, 
.datepicker table tr td span.focused,
.datepicker table tr td span.active.active:hover, 
.datepicker table tr td span.active:hover.active:hover {
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, .15);    
}

/* Конец Календарь */

/* Textarea */
textarea {
    resize: none;
    overflow: auto;
}
#label-count,
#label-count-left {
    font-size: 11px;
    color: #8b709d;
}
.modal-content .has-error .help-block {
    font-size: 12px;
    color: #f0754a;
}
/* Конец Textarea */


/* Выпадающий список, select, администратор (темный) */
.custom-select {
    background: none;
    border: none; 
}
.custom-select-wrapper-dark {
    position: relative;
    display: inline-block;
    user-select: none;
    font-family: "Mplus 1p";
}
.custom-select-wrapper-dark select {
    display: none;
}
.custom-select-dark {
    position: absolute;
    display: inline-block;
    top: -15px;
}
.custom-select-trigger-dark {
    text-align: left;
    position: relative;
    display: block;
    width: 380px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 35px;
    background: transparent;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}
.custom-select-trigger-dark:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; 
    height: 10px;
    top: 50%; 
    right: 7px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select-dark.opened .custom-select-trigger-dark:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options-dark {
    display: block;
    top: 100%; 
    left: 0; 
    right: 0;
    min-width: 100%;
    margin: 0;
    border: 1px solid #604c6e;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 999;
}
.custom-select-dark.opened .custom-options-dark {
    text-align: left;
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    background: linear-gradient(180.67deg, #39284E 90%, rgba(10,8,8,0.5) 100%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.option-hover-dark:before {
    background: #f9f9f9;
}
.custom-option-dark {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #8b709d;
    font-size: 14px;
    color: #fff;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.custom-option-dark:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option-dark:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option-dark:hover,
.custom-option-dark.selection-dark {
    color: #fff;
    background: rgba(0, 123, 255, 0.12);
}
/* Конец Выпадающий список, select, администратор (темный) */

/* Выпадающий список, Выбор даты */
.field > label.date-label,
.field > label.field-input-select_label {
    color: #bfbfbf;
    font-weight: normal;
    font-size: 12px;
}
.field input.krajee-datepicker,
.field input[id="voting-voting_date_start"],
.field input[id="voting-voting_date_end"] {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #e6e6e6;
}
.field input.krajee-datepicker:focus {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #2d18b4;    
}
.field span.input-group-addon {
    background-color: #2d18b4;
    border: 1px solid #fff;
    color: #fff;
}
/* Конец Выпадающий список, Выбор даты */

/* Выпадающий список (светлый), без js */
.field-input-select {
    border: none;
    width: 100%;
    outline: none;
}
/* Конец Выпадающий список (светлый), без js */


/* Style for RadioButton */
.input-radio {
    /*display: block;*/
    position: relative;
    padding-left: 25px;
    margin: 20px 20px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.input-radio input:checked ~ .checkmark {
    background-color: #2d18b4;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.input-radio input:checked ~ .checkmark:after {
    display: block;
}
.input-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* End Style for RadioButton */

/* End Style for CheckButtonList */
.input-checklist {
    display: block;
    position: relative;
    padding: 4px 40px;
    margin: 20px 20px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-checklist input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 2px solid #4E33F9;
    border-radius: 50%;
}
.container:hover input ~ .checkmark-list {
    background-color: #fff;
}
.input-checklist input:checked ~ .checkmark-list {
    background-color: #2d18b4;
}
.checkmark-list:after {
    content: "";
    position: absolute;
    display: none;
}
.input-checklist input:checked ~ .checkmark-list:after {
    display: block;
}
.input-checklist .checkmark-list:after {
    content: '\2713';
    top: 3px;
    left: 5px;
    width: 8px;
    height: 8px;
    color: #fff;
}
/* End Style for CheckButtonList */

/* Выпадающий список навигационная панель, Выбор адреса */
.custom-select {
    background: none;
    border: none; 
}
.custom-select-wrapper-services {
    position: relative;
    display: inline-block;
    user-select: none;
    margin-left: 77px;
    font-family: "Mplus 1p";
}
.custom-select-wrapper-services select {
    display: none;
}
.custom-select-services {
    position: absolute;
    display: inline-block;
    top: -15px;
}
.custom-select-trigger-services {
    text-align: center;
    position: relative;
    display: block;
    width: 380px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 35px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
}
.custom-select-trigger-services:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; 
    height: 10px;
    top: 45%; 
    right: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select-services.opened .custom-select-trigger-services:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options-services {
    display: block;
    top: 100%; 
    left: 0; 
    right: 0;
    min-width: 100%;
    margin: 5px 0;
    border: 1px solid #604c6e;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 999;
}
.custom-select-services.opened .custom-options-services {
    text-align: left;
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    background: linear-gradient(180.67deg, #39284E 90%, rgba(10,8,8,0.5) 100%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.option-hover-services:before {
    background: #f9f9f9;
}
.custom-option-services {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #8b709d;
    font-size: 14px;
    color: #fff;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.custom-option-services:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option-services:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option-services:hover,
.custom-option-services.selection-services {
    background: rgba(0, 123, 255, 0.12);
}
/* Конец Выпадающий список навигационная панель, Платные услуги */

/* Диапазон дат для навигационной панели */
.search-date {
    border-radius: 25px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    background-image: url(../images/calendar.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 12% 47%;
    padding: 0 0 0 35px;
    width: 70% !important;
    font-size: 12px;
}
.search-date::placeholder {
    color: #fff;
}
/* Конец Диапазон дат для навигационной панели */
