/* Основная форма */
.field {
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}
.field-label {
    position: relative;
    margin: 0;
    display: block;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}
.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-size: 16px;
    color: #606060;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}
.field::after, .field::before{
    content:'';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

.field::after{
    background-color: #2d18b4;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.has-label .field-label{
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label{
    color: #2d18b4;
}
.field.is-focused::after{
    transform: scaleX(1);
}
form .has-error .field::before {
    /*background-color: #ef693a;*/
}
/* Конец основной формы */

/* Шаги, регистрация */
legend { 
    font-size: 18px; 
    margin: 0px; 
    padding: 10px 0px; 
    color: #b0232a; 
    font-weight: bold;
}

#steps { 
    list-style: none; 
    width: 100%; 
    overflow: hidden;
    margin: 0px; 
    padding: 0px;
}

#steps li {
    font-size: 20px; 
    float: left; 
    padding: 10px; 
    color: #b0b1b3;
}

#steps li span {
    font-size: 12px; 
    display: block;
    font-weight: normal;
}

#steps li.current { 
    color: #2d18b4;
    font-weight: bold;
}
.error-summary > ul {
    list-style: none;
    padding: 10px 0;
}
.circle-btn-block {
    margin-top: 7%;
}
/* Конец шаги, регистрация */

/* Поле ввода СМС кода */
.field-sms {
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}
.field-label {
    position: relative;
    margin: 0;
    display: block;
    color:  #bfbfbf;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}
.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-size: 14px;
    color: #606060;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}
.field-sms::after, .field-sms::before{
    content: '';
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #e6e6e6;
}

.field-sms::after{
    background-color: #2d18b4;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.field.is-focused::after{
    transform: scaleX(1);
}