/*
 * Main CSS style
*/

@font-face{
    font-family: 'Mplus1p';
    src: url('fonts/Mplus1p.ttf');
}

html, body {
    font-family: 'Mplus1p';
    height:100%;
}
a, a:hover, a:active {
    text-decoration: none;
    color: #2d18b4;
}
a,
input,
textarea,
img,
button,
button:active,
button:focus,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}
select {
    outline: 0px !important;
}
select:disabled,
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.main > .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}
.main > .row > [class*="col-"] {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.wrap {
    /*min-height: 100%;*/
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 30px;
}

.wrap > .container-full-client {
    margin-top: 109px;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 100% ширина */
.container-full {
    margin: 0 auto;
    width: 100%;    
}
.wrap > .container-full {
    padding: 110px 30px 20px 30px;
}
/* Конец 100% ширина */
.row {
    margin: 0;
}

/* Слайдер на главной странице */
.general-slider {
    background-image: url(/images/slider/elsa-ground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#general-page__slider {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 60px;
    text-align: center;
    z-index: 999;
}
.carousel-title {
    text-align: center;
    margin: 5% 0 15% 0;
}
.carousel-title__small {
    margin: 10% 0;
}
.carousel-logo-company {
    margin: 20% 0;
}
.carousel-title > h3 {
    font-size: 32px;
    color: #fff;
}
.carousel-title__small img {
    height: 40px;
}
.slider-logo {
    height: 236px;
    width: 176px;
    margin: 40px 0;
}
.slider-product-icon {
    height: 199px;
    width: 198px;
}
.slide-txt-block {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.12em;
    text-align: center;
    padding: 20px 50px;
}
.app-btn-group {
    width: 100%;
    padding: 10px;
    margin: 10% 0;
}
.app-btn-group a {
    padding: 7px 30px 7px 50px;
    border-radius: 18px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.64);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 23px;
}
.app-store-logo {
    background-image: url(/images/slider/apstore_gliph.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px center;
}
.google-play-logo {
    background-image: url(/images/slider/google_play_gliph.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px center;
}
/* Конец Слайдер на главной странице */

/* Стартовая */
.start-page {
    background-image: url(/images/girl_elsa.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    height: 100vh;
    display: flex;
    align-items: center;
}
.start-page__welcome-txt {
    width: 350px;
    color: #2D18B4;
    font-size: 14px;
    letter-spacing: 1.05px;
    line-height: 20px;
    position: absolute;
    top: 10%;
    padding: 0 20px;
}
.start-page__btn-block {
    width: 100%;
    position: absolute;
    bottom: 10%;
}
.login-page__reset-password {
    bottom: 0;
}
.forgot-a {
    font-size: 16px;
    letter-spacing: 1.05px;
    color: #555;
}
.forgot-a:hover {
    color: #201183;	
}
/* Конец Стартовая */

/* Вход */
.main-page {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    min-height: 100%;
    height: 100vh;
}
.main-page__logo {
    /*margin-bottom: 10%;*/
}
.__logo {
    height: 50px;
}
.main-page__title > h2 {
    color: #2d18b4;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 10px;
}
.main-page__form .main-page__form-item {
    text-align: left;
    margin: 40px;
}
.login-form__button {
    margin: 5% 0;
}
/* Кoнец Вход */

/* Регистрация */
.registration-form-group, 
.login-form-group {
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 5%;    
}
.registration-form-group .error-summary {
    font-size: 12px;
    color: #EF693A;
}
.third-step-offer p {
    margin: 50px 0;
    font-size: 12px;
    color: rgb(103, 118, 138);
}
#error-message {
    margin: -10px 0px;
    font-size: 12px;
    color: #ef693a;
}
#timer-to-send {
    position: absolute;
    left: 25%;
    bottom: 25%;
    font-size: 12px;
    color: rgb(103, 118, 138);
}
.alert-register-success {
    background-color: #fff;
    border-color: #1fd68d;
    text-align: center;
}
.alert-register-success a,
.alert-register-error a {
    color: #1fd68d;
    font-weight: bold;
/*    font-weight: bold;*/
}
.alert-register-success a:hover {
    border-bottom: 2px solid #1fd68d;
}
.alert-register-error {
    color: #777;
    background-color: #fff;
    border-color: #ef693a;
    text-align: center;
}
.alert-register-error a:hover {
    border-bottom: 2px solid #ef693a;
}
/* Конец Регистрация */

/* Кнопки */
.btn {
    /*height: 56px;*/
    /*width: 250px;*/
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}
.btn-small {
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    outline: none;
    border: none;
}
.btn-modal {
    padding: 20px;
    width: 200px;
    background: transparent;
    border: 1px solid #ddd;
    color: #ccc;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    transition: 0.7s;
}
.btn-grade {
    border: none;
    padding: 5px;
    width: 30px;
}
.btn-dropdown {
    border: none;
}
.btn:hover, .btn:active, .btn:focus,
.btn-small:hover, .btn-small:active, .btn-small:focus {
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    outline: none;
}
.btn-modal-yes:hover, .btn-modal-yes:active, .btn-modal-yes:focus {
    border: 1px solid #8b709d;
    background: #fff;
    color: #8b709d;
    outline: none;
}
.btn-modal-no:hover, .btn-modal-no:active, .btn-modal-no:focus {
    border: 1px solid #fc3232;
    background: #fc3232;
    color: #fff;
    outline: none;
}
.blue-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #2d18b4;
    background-color: #2d18b4;
    color: #fff;
}
.blue-btn:hover, .blue-btn:active, .blue-btn:focus {
    color: #fff;
}
.red-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #fc3232;
    background-color: #fc3232;
    color: #fff;
}
.red-btn:hover {
    color: #fff;
}
.orange-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #ef693a;
    background-color: #ef693a;
    color: #fff;
}
.orange-btn:hover {
    color: #fff;
}
.white-btn {
    height: 56px;
    width: 250px;
    border: 1px solid #2d18b4;
    background-color: #fff;
    color: #2d18b4;
}
.white-btn:hover {
    background: #2d18b4;
    color: #fff;
}

.btn-changes-yes {
    background: #fff;
    border: 1px solid #2d18b4;
    color: #2d18b4;
}
.btn-changes-yes:hover {
    background: #2d18b4;
    color: #fff;
}
.btn-changes-no {
    background: #fff;
    border: 1px solid #fc3232;
    color: #fc3232;
}
.btn-changes-no:hover {
    background: #fc3232;
    color: #fff;
}

.blue-circle-btn {
    background-image: url(/images/clients/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;    
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.blue-circle-btn:hover {
    background-image: url(/images/clients/arrow_right_hover.png);
    outline: none;
}
.blue-circle-btn:focus {
    outline: none;
}
#send-request-to-sms,
#reset-password-sms {
    position: absolute;
    top: 40px;
    left: 79%;
    background: transparent;
    border: none;
    padding: 0;
    color: #2d18b4;
    cursor: pointer;
}
#send-request-to-sms:focus, 
reset-password-sms:focus{
    outline: none;
}

.btn-send-request {
    margin: 0 10px;
    background: #fff;
    border: 1px solid #2d18b4;
    padding: 0 15px;
    color: #2d18b4;
    border-radius: 12px;
    outline: none;
}
.btn-send-request:focus {
    outline: none;
}
.message-after-sms {
    font-size: 12px;
    color: #635f5f;
    text-align: center;
}
/* Конец Кнопки */

/* Кнопка в таблице */
.btn-edit-in-table {
    padding: 8px 10px;
    border: 2px solid #2d18b4;
    color: #fc3838;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    background: #fff;
    font-weight: 900;
    outline: none;
}
.btn-edit-in-table::before {
/*    content: '\0270E';
    padding: 0 5px 0 0;*/
}
.btn-edit-in-table:hover {
    background-color: #2d18b4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #fff;
}

.btn-delete-in-table {
    padding: 8px 16px;
    border: 2px solid #ef693a;
    color: #fc3838;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    background: #fff;
    font-weight: 900;
    outline: none;
}
.btn-delete-in-table::before {
    content: '\02715';
    padding: 0 5px 0 0;
}
.btn-delete-in-table:hover {
    background-color: #ef693a;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #fff;
}
/* Конец Кнопка в таблице */
/* Кнопка сменить пароль пользователя */
.btn-change-password {
    padding: 3px 10px;
    border: 1px solid #8f55e9;
    border-radius: 12px;
    background-color: #8f55e9;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-change-password:hover,
.btn-change-password:focus,
.btn-change-password:active {
    color: #fff;
    background-color: #6e39c4;
    border-color: #6e39c4;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;
}
/* Конец Кнопка сменить пароль пользователя */
/* Кнопка блокировать пользователя */
.btn-block-user {
    padding: 3px 10px;
    border: 1px solid #ef693a;
    border-radius: 12px;
    background-color: #f0754a;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-block-user:hover,
.btn-block-user:focus,
.btn-block-user:active {
    color: #fff;
    background-color: #ef693a;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;    
}
/* Конец Кнопка блокировать пользователя */
/* Кнопка разблокировать пользователя */
.btn-unblock-user {
    padding: 3px 10px;
    border: 1px solid #23dd6f;
    border-radius: 12px;
    background-color: #23dd6f;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-unblock-user:hover,
.btn-unblock-user:focus,
.btn-unblock-user:active {
    color: #fff;
    background-color: #23dd6f;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;
}
/* Конец Кнопка разблокировать пользователя */
/* Кнопка удалить пользователя */
.btn-delete-user {
    padding: 3px 10px;
    border: 1px solid #fc3232;
    border-radius: 12px;
    background-color: #fc3232;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    outline: none;
}
.btn-delete-user:hover,
.btn-delete-user:focus,
.btn-delete-user:active {
    color: #fff;
    background-color: #f36;
    box-shadow: 4px 4px 6px 2px rgba(55,35,35,0.32);
    outline: none;
}
/* Конец Кнопка удалить пользователя */
/* Кнопка настройки заявки */
.settings-record-btn {
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #fff;
    background-color: #2d18b4;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin: 0 10px;
    float: right;
    outline: none;
    font-weight: normal;
}
.settings-record-btn:hover {
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #2d18b4;
    outline: none;
}
.settings-record-btn > i {
    padding-right: 10px;
}
/* Конец Кнопка настройки заявки */

/* Кнопка Редактировать заявку */
.edit-request-btn {
    padding: 12px 20px;
    border: 2px solid #2d18b4;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-decoration: none;
}
.edit-request-btn > i {
    padding-right: 10px;
}
.edit-request-btn:focus,
.edit-request-btn:hover {
    background-color: #2d18b4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #fff;
    text-decoration: none;
}
/* Конец Кнопка Редактировать заявку */

/* Кнопки-ссылки */
.btn-link {
    padding: 20px;
    height: 56px;
    width: 250px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    text-decoration: none;
}
.white-to-blue-link {
    border: 1px solid #2d18b4;
    background-color: #fff;
    color: #2d18b4;
}
.white-to-blue-link:hover,
.blue-btn-link:hover {
    background-color: #2d18b4;
    color: #fff;
}
.blue-btn-link {
    background-color: #2d18b4;
    color: #fff;
}
.red-border-btn-link {
    border: 2px solid #fc3232;
    background-color: #fff;
    color: #fc3232;
}
.red-btn-link {
    border: 1px solid #fc3232;
    background-color: #fc3232;
    color: #fff;
}
.red-btn-link:hover, 
.red-border-btn-link:hover {
    background-color: #fc3232;
    color: #fff;
}
.card-link-blue {
    width: 160px;
    padding: 10px;
    border: 1px solid #2d18b4;
    color: #2d18b4;
    border-radius: 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-align: center;
}
.card-link-blue:hover, .card-link-blue:active, .card-link-blue:focus {
    background: #2d18b4;
    color: #fff;
}
/* Конец Кнопки-ссылки */

/* Comeback-link */
.link-comeback,
.link-comeback:hover {
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5em;
    color: #fff;
    padding-right: 30px;
}
/* End Comeback-link */

/* Страница 404 */
.page_error {
    position: absolute;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url(../images/error/page-not-found.png)  no-repeat center center fixed; 
    background-size: cover;
}
.error-page__image {
    position: relative;
    margin: 0 0 85px;
}
.error-page__title {
    background: #2d18b4;
    padding: 20px;
    color: rgb(247, 247, 247);
    opacity: 0.3;
}
.btn.btn-error-page {
    position: absolute;
    bottom: 10%;
    right: 5%;
    padding: 15px 30px;
    border: 2px solid #ff6a34;
    text-transform: uppercase;
    border-radius: 12px;
    color: #ff6a34;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.3em;
}
.btn.btn-error-page:hover {
    color: #fff;
    background: #ff6a34;
}
/* Конец Страница 404 */

/* Show password */
.form__show-password {
    font-size: 18px !important;
    background: transparent !important;
    color: rgba(0,0,0,0.54) !important;
}
.form__show-password:hover,
.form__show-password:active,
.form__show-password:focus {
    box-shadow: none !important;
}
/* End Show password */

.has-error .help-block {
    color: #ef693a;
    font-size: 11px;
    letter-spacing: 0.1em;
    font-weight: normal;
}

/* File upload */
.has-error .file-upload {
    border: 1px solid #f00;
}
.file-upload {
    position: relative;
    height: 35px;
    margin: 0 auto 5px;
    -webkit-transition: border-color .3s;
            transition: border-color .3s;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.file-upload input.file-upload__input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
.file-upload__btn {
    position: absolute;
    top: 5px;
    left: 0;
    width: 96px;
    height: 19px;
    margin-left: 30%;
    cursor: pointer;
    border: 0;
    background: transparent url(../images/file-upload.png) no-repeat center;
    background-size: auto;
}
.file-upload__label {
    font-size: 12px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #454545;
}
/* End File upload */

/* Results page */
.result-page {
    position: absolute;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.result-page__content {
    position: relative;
    margin: 0 0 85px;
}
.result-page__status {
    font-size: 100px;
    color: #7f8c8d;
}
._result-ok {
    color: #2ecc71;
}
._result-no {
    color: #e74c3c;
}
.result-page__message {
    font-size: 28px;
    color: #7f8c8d;
}
/* End Results page */

/* Reset Bootstrap style's */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #928DD2 !important;
    border-radius: 50px;
}
/* End Reset Bootstrap style's */