/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.11.2018, 14:19:54
    Author     : Ekaterina
*/
@font-face{
    font-family: "Mplus 1p";
    src: url('../fonts/MPLUS1p-Regular.ttf');
}
@font-face{
    font-family: "Mplus 1p Medium";
    src: url('../fonts/MPLUS1p-Medium.ttf');
}
@font-face{
    font-family: "Mplus 1p Bold";
    src: url('../fonts/MPLUS1p-Bold.ttf');
}

html, body {
    font-family: "Mplus 1p";
    height:100%;
}

a, a:hover, a:active {
    text-decoration: none;
}

/* Слайдер на главной странице */
.carousel-caption {
    top: 0;
    font-family: "Mplus 1p";
}
.general-slider,
.general-right-block, 
.login-page {
    padding: 0;
}
.general-slider__image {
    height: -webkit-fill-available !important;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
}
.slider-logo {
    height: 236px;
    width: 176px;
    margin-top: 101px;  
}
.slider-product-icon {
    height: 199px;
    width: 198px;
    margin-top: 101px;    
}
.slide-txt-block {
    margin-top: 38px;
    margin-bottom: 52px;
    font-size: 16px;
    letter-spacing: 1px; 
}
.slider-title {
    font-size: 32px;
    letter-spacing: 1.4px;
    line-height: 47px;
    margin-top: 79px; 
}
.app-btn-group a {
    padding: 7px 30px 7px 50px;
    border-radius: 18px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.64);
    color: #FFFFFF;
    font-family: "Mplus 1p";
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 23px;
}
.app-store-logo {
    background-image: url(/images/slider/apstore_gliph.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px center;
}
.google-play-logo {
    background-image: url(/images/slider/google_play_gliph.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px center;
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    background: #fff;
    margin: 5px 7px;
}
/* Конец Слайдер на главной странице */

/* Стартовая */
.start-page {
    background-image: url(/images/girl_elsa.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    height: 100vh;
}
.start-page__title {
    color: #ef693a;
    font-size: 26px;
    letter-spacing: 1.05px;
    line-height: 36px;
    padding: 60px 10px 10px 20px;
}
.start-page__welcome-txt {
    width: 300px;
    color: #2D18B4;
    font-size: 14px;
    letter-spacing: 1.05px;
    line-height: 20px;
    margin-left: 31px;    
}
.start-page__btn-block {
    position: absolute;
    bottom: 10px;
    left: 20%;
}
.login-page__reset-password {
    bottom: 0;
}
.forgot-a {
    font-size: 16px;
    letter-spacing: 1.05px;
    color: #555;
}
.forgot-a:hover {
    color: #201183;	
}
/* Конец Стартовая */


/* Вход */
.login-page__logo {
    position: absolute;
    left: 38%;
    height: 46px;
    width: 187px;
    margin-top: 56px;
    margin-bottom: 59px;
}
.login-page__title {
    padding-top: 170px;
    color: #2e19b5;
    font-family: "Mplus 1p";
    letter-spacing: 2.52px;
    line-height: 36px;
    margin-top: 100px;
    margin-bottom: 62px;    
}
login-form-group .help-block {
    color: #ef693a;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    margin-top: 3px;
}
.login-form__button {
    margin: 50px 0 70px 0;
}
/* Кoнец Вход */

/* Регистрация */
.registration-logo {
    background-image: url(/images/main/elsa-logo13@2x.png);
    background-repeat: no-repeat;
    background-size: 27%;
    background-position: center;
    display: inline-block;
    margin: 40px 0px;
    padding: 0 10px;
    height: 70px;
    width: 100%;
}
.registration-title {
    color: #2d18b4;
    font-size: 24px;
    letter-spacing: 4px;
}
.registration-form-group, 
.login-form-group {
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 5%;    
}
.registration-form-group .error-summary {
    font-size: 12px;
    color: #EF693A;
}
.third-step-offer p {
    margin: 30px 0;
}
/* Конец Регистрация */

/* Кнопки */
.white-to-bue-btn {
    padding-top: 18px;
    height: 56px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #2D18B4;
    background-color: white;
    color: #2d18b4;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.white-to-bue-btn:hover {
    background-color: #2D18B4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #FFFFFF;
}
.blue-btn {
    height: 56px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #2D18B4;
    background-color: #2D18B4;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.blue-btn:hover {
    background-color: #2D18B4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #FFFFFF;
}

.red-btn {
    padding-top: 18px;
    height: 56px;
    width: 250px;
    border: 2px solid #FC3232;
    border-radius: 12px;
    background-color: white;
    color: #EF693A;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}	
.red-btn:hover {
    background-color: #FC3232;
    box-shadow: 0 8px 16px 2px rgba(55,35,35,0.32);
    color: #FFFFFF;
}
.red-btn:active {
    background-color: #b72424;
    border: 2px solid #b72424;
    box-shadow: 1px 2px 3px 2px rgba(55,35,35,0.17);
    color: #FFFFFF;	
}
.blue-btn-link {
    padding-top: 18px;
    height: 56px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #2D18B4;
    background-color: #2D18B4;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.blue-btn-link:hover {
    background-color: #2D18B4;
    box-shadow: 0 8px 16px 0 rgba(55,35,35,0.32);
    color: #FFFFFF;
}

/* Кнопка, регистрация переход на следующий шаг */
.blue-circle-btn {
    background-image: url(/images/clients/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;    
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.blue-circle-btn:hover {
    background-image: url(/images/clients/arrow_right_hover.png);
    outline: none;
}
.blue-circle-btn:focus {
    outline: none;
}
/* Кнопка, регистрация переход на следующий шаг */

/* Кнопка отправки СМС кода, регистрация */
button#send-request-to-sms {
    position: absolute;
    top: 40px;
    left: 79%;
    background: transparent;
    border: none;
    padding: 0;
    color: #2d18b4;
    cursor: pointer;
}
button#send-request-to-sms:focus{
    outline: none;
}

/* Собственник, навигационное меню */
.navbar {
    height: 139px;    
}
.menu-btn-sd {
    z-index: 50;
    display: block;
    background: transparent;
    position: fixed;
    top: 40px;
    left: 20px;
}
.menu-btn-sd span::before,
.menu-btn-sd span::after {
    position: absolute;
    top: 50%; 
    margin-top: -1px;
    left: 50%; 
    margin-left: -10px;
    width: 25px;
    height: 2px;
    background-color: #e0e0d1;
}
.menu-btn-sd span::before,
.menu-btn-sd span::after {
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn-sd span::before {
    transform: translateY(-5px);
}
.menu-btn-sd span::after {
    transform: translateY(5px);
}
.menu-btn-sd_active span {
    background-color: transparent;
}
.menu-btn-sd_active span:before {
    transform: rotate(-135deg);
    width: 20px;
    transform-origin: center;
}
.menu-btn-sd_active span:after {
    transform: rotate(135deg);
    width: 20px;
    transform-origin: center;
}
.nav-menu-sd {
    top: 0;
    left: 0;
    width: 100vw;
    height: 139px;
    position: fixed; 
    background-image: url(Head.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.logo-sd {
    position: fixed;
    width: 170px;
    height: 50px;
    background-color: #ffff33;
    left: 45%;
    top: 45px;
    z-index: 20;
    display: block;
    background-color:transparent;
}
.menu-sd {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    min-height: 322px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100vw;
    transition: all 0.2s;
}
.menu-sd_active {
    top: 0px;
    background-image: url(Head.png);
    z-index:10;
    height: 370px;
    position: fixed;
}
.user-sd {
    position: absolute;
    right: 100px;
    top: 40px;
 } 
.user-bt-sd {
    margin-right: 27px;
    z-index: 11;  
}
.podmenu-sd {
    margin-left: 4px;
}
.menu-title-sd {
    display: inline-block;
    margin-left:55px;
    margin-top:17px;
    color: #FFFFFF;
    font-size:11px;
    z-index: 1;
}
.treck-menu {
    margin-left: 100px;
    margin-top: 11px; 
    color: white;
    text-decoration: none;
}
.treck-menu:hover {
  text-decoration: none;
}
.nav-trio {
    position: absolute;
    width: 800px;
    background-color: transparent;
    display: none;
}
.menu-lets {
    width: 100vw;
    margin-top:119px !important;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.menu-chet  {
    color: #FFFFFF; 
    font-family: "Mplus 1p Medium"; 
    font-size: 16px;  
    letter-spacing: 0.39px; 
    line-height: 23px;  
    text-align: center;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    opacity: 0.3;
    transition: 0.2s;
 }
 .menu-chet:hover {
    font-size: 20px;
    border-top: 0.2px solid #FFFFFF;
    border-bottom: 0.2px solid #FFFFFF;
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s;
}
 .podmenu-voge {
    color: #FFFFFF; 
    font-size: 14px;  
    letter-spacing: 0.34px; 
    line-height: 20px;
    padding: 5px 8px;
    opacity: 0.5;
 }
 .podmenu-voge:hover {
    text-decoration: none;
    color: #FFFFFF; 
    border: 1px solid #FFFFFF;
    border-radius: 16px; 
    opacity: 0.9;
    transition: all 0.2s;
}
.main-menu > li {
    position: relative;
}
.menu-lets .podmenu-free {
    display:none;
    height: 42.5px;
    right: 0;
    top: 155px;
    margin: 0;
    padding: 0;
    margin-right: 16%;
    list-style: none;
    background-color: transparent;
    position: absolute;
} 
.menu-lets> li:hover .podmenu-free {
    display: flex;
}
.podmenu-free li {
    height: 42px; 
    margin-left: 30px; 
}
.menu-lets ul {
    position: absolute;
    display: inline-block;
}
/* Конец Собственник, навбар */

/* Собственник, главная страница, Новости */
.news-card-preview {    
    color: #a7a7a7;
    height: 451px;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 0 !important;
    margin: 10px 5px;
}
.news-card-preview:hover {
    box-shadow: 0 4px 26px 0 rgba(51, 29, 82, 0.16);
}
.news-card-preview-title {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 5px;
}
.news-card-preview-title a {
    color: #2d18b4;
    font-size: 18px;
    font-weight: bold;    
}
.news-card-preview-date {
    color: #000;
    font-family: "Mplus 1p Medium";
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 18px;
    margin: 0 24px;
}
.news-card-preview-text {
    color: #0d0d0d;
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 20px;
    padding: 15px 24px;
    text-align: justify;
}
.news-card-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: 50%;
    width: 100%;
}
.nav > li > a:hover, .nav > li > a:focus, 
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    text-decoration: none;
    background-color: #9d8fd7;
    border-radius: 100%;    
}
/* Конец Собственник, главная страница, Новости */

/* Собственник, страница отделной новости */
.new-conteiner {
    border: 1px solid #D4D4D4;
    border-radius: 15px;
/*    padding: 0px 0 35px;
    position: relative;*/
}
.preview-news {
    position: relative;
    height: 616px;
    overflow: hidden;
}
.news-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;  
}
.news-rubric-block {
    position: absolute;
    height: 40px;
    color: #000;
    top: 20px;
    padding: 10px;
}
.news-rubric-block span {
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 15px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "Mplus 1p Medium";
}
.news-title-block {
    position: absolute;
    height: 160px;
    width: 100%;
    color: #000;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}
.news-title {
    color: #fff;
    padding-left: 26px;
    padding-top: 15px;
}
.news-date {
    padding-left: 26px;
    color: #fff;
    font-family: "Mplus 1p Medium";
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 18px;
}
.load-documents {
    padding-left: 26px;
    color: #fff;
    font-family: "Mplus 1p Medium";
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 18px;
}
.news-text {
    padding: 20px;
    color: #000;
    text-align: justify;
}
.news-title-block a {
    background: rgba(0, 123, 255, 0.25);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
}
.news-title-block a:hover {
    background: rgba(0, 123, 255, 0.5);
    color: #ffffff;
    text-decoration: none;
}
/* Конец Собственник, страница отделной новости */

/* Подменю, главная страница категории новостей */
/* Конец Подменю, главная страница категории новостей */

/* Выпадающее меню, профиль пользователя */
.dropdown-menu{
    width: 479px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(180.67deg, #39284E 100%, rgba(10,8,8,0.7) 100%);
    box-shadow: 0 10px 14px 2px rgba(0,0,0,0.26);  
}

.dropdown-menu:before{
    border: none;
}

.dropdown-menu_link-profile {
    font-size: 12px;
}

.dropdown-menu_link-profile a {
    color: #bcbcbc;
}

.dropdown_footer div {
    padding: 30px 0;
    font-family: "Mplus 1p";
    font-size: 14px;
}

.dropdown a#navbarDropdown:hover {
    background: #928DD2;
    border-radius: 50px;    
}

.dropdown_footer a.footer_link {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.12em;
}

.dropdown_footer a.footer_link:hover {
    text-decoration: none;
}

.dropdown_footer a.footer_link-logout {
    text-transform: uppercase;
    color: #ff1760;
    letter-spacing: 0.12em;
}

.dropdown_footer a.footer_link-logout:hover {
    text-decoration: none;
}

.photo-user-dropdown {
    border: 4px solid #2D18B4;
    box-shadow: 0px 0px 0px 20px rgba(45, 24, 180, 0.5);
    margin-top: 40px;
    width: 100px;
    height: 100px;
}

.dropdown_user-info {
    margin-top: 20px;
}

.dropdown_user-name {
    color: #FFFFFF;
    font-family: "Mplus 1p";
    font-size: 18px;
    letter-spacing: 1.23px;
    line-height: 27px;
    margin-bottom: 0px;    
}

.dropdown_account-block {
    font-family: "Mplus 1p";
}

.mail-border p {
    color: #ef693a;
}

.mail-border a:hover {
    text-decoration: none;
}

.dropdown_account-title{
    color: #78e4ff;
    font-size: 12px;
    letter-spacing: 1.26px;
    line-height: 18px;
    margin-bottom: 0;
}
.dropdown_account-number {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.26px;
    line-height: 18px;
    margin-bottom: 0;
}

/* Конец Выпадающее меню, профиль пользователя */


/* Уведомления на странице */
.notice {
    padding: 15px;
    background-color: #fff;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    font-family: "Mplus 1p";
    font-size: 14px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-info {
    border-color: #007bff;
}
.notice-info>strong {
    color: #007bff;
}
/* Конец Уведомления на странице */
