/*
    media css for clients app
*/

/* Slader */
@media screen and (max-width: 1260px) {
    .btn, .btn-link {
        padding: 15px;
        height: 50px;
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 0;
        right: 0;
    }
}
@media screen and (max-width: 650px) {
    .slider-product-icon {
        height: 154px;
        width: 154px;
    }
}
@media screen and (max-width: 580px) {
    .start-page {
        background-size: 70%;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }
    .app-btn-group.text-center {
        display: grid;
    }
}
/* End Slader */

/* Register Page, Login Page */
@media screen and (max-width: 1260px) {
    .registration-form-group, .login-form-group {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 992px) {
    .registration-form-group, .login-form-group {
        padding-left: 17%;
        padding-right: 17%;
    }
}
@media screen and (max-width: 650px) {
    .registration-form-group, .login-form-group {
        padding-left: 7%;
        padding-right: 7%;
    }
}

/* Nav menu */
@media screen and (max-width: 991px) {
    .user-notification {
        display: none;
    }
    .navbar-general-page {
        margin-top: 70px;
    }
    .navbar__pills > li, .navbar__pills > li:first-child {
        width: 150px;
        height: 50px;
        padding: 0;
    }
    .navbar__pills > li > a {
        font-size: 10px;
    }
}
@media screen and (max-width: 770px) {
    .navbar-general-page {
        margin-top: 150px;
    }
}
@media screen and (max-width: 520px) {
    .navbar-general-page {
        margin-top: 170px;
    }
}
/* End Nav menu */

/* End Register Page, Login Page */
@media screen and (max-width: 1199px) {
    .news-card-preview {
        height: 380px;
    }
    .news-card-preview-title a {
        font-size: 16px;
    }
    .news-card-preview-text {
        font-size: 12px;
    }
}
@media screen and (max-width: 590px) {
    .news-card-preview {
        height: 400px;
    }
    .news-card-preview-title,
    .news-card-preview-date {
        margin: 10px;
    }
    .news-card-preview-text {
        padding: 10px;
    }
}
@media screen and (max-width: 550px) {
    .col-xs-6 {
        width: 100%;
    }
}
/* News Page, View news */
/* End News Page, View news */