/*
    media css for clients app
*/

/* Sliders */
@media screen and (max-width: 1200px) {
    .slider-product-icon {
        margin-top: 80px;
        height: 170px;
        width: 170px;
    }
}
@media screen and (max-width: 1090px) {
    .slider-product-icon {
        height: 170px;
        width: 170px;
        margin-top: 50px;
    }
    .slide-txt-block {
        padding: 0 70px;
    }
}
@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 0;
        right: 0;
    }
}
@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 0;
        right: 0;
    }
}
@media screen and (max-width: 650px) {
    .slider-product-icon {
        height: 154px;
        width: 154px;
    }
}
@media screen and (max-width: 580px) {
    .start-page {
        background-size: 70%;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }
    .app-btn-group.text-center {
        display: grid;
    }
    .slide-txt-block {
        font-size: 14px;
        padding: 10px;
    }
    .carousel-indicators {
        bottom: 5%;
    }
    .app-btn-group a {
        font-size: 14px;
    }
}
/* End Sliders */

/* Register Page, Login Page */
@media screen and (max-width: 1360px) {
    #send-request-to-sms {
        top: 20px;
    }
}
@media screen and (max-width: 1260px) {
    #send-request-to-sms {
        top: 40px;
    }
    .registration-form-group, .login-form-group {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 1120px) {
    #send-request-to-sms {
        top: 20px;
    }    
}
@media screen and (max-width: 991px) {
    #send-request-to-sms {
        top: 40px;
    }
    .registration-form-group, .login-form-group {
        padding-left: 17%;
        padding-right: 17%;
    }
}
@media screen and (max-width: 699px) {
    #send-request-to-sms {
        top: 20px;
    }
}
@media screen and (max-width: 650px) {
    #send-request-to-sms {
        top: 40px;
        font-size: 12px;
    }
    .registration-form-group, .login-form-group {
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media screen and (max-width: 540px) {
    #send-request-to-sms {
        top: 20px;
    }
}


/* Nav menu 
@media screen and (min-width: 991px) {
    .navbar-mobile-menu__items {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .navbar-mobile-menu__items {
        position: fixed;
        z-index: 1024;
        display: none;
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        justify-content: flex-start;
        background: linear-gradient(180.67deg, #39284E 0, rgba(10,8,8,0.7) 117%);
    }
    .mobile-menu__items {
        list-style: none;
        width: 100vh;
        padding: 0;
        margin: 0;
    }
    .mobile-menu__items > li {
        padding: 10px;
    }
    .mobile-menu__items > li > a {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
    }
    .mobile-menu__items > li a:focus {
        text-decoration: none;
    }
    .mobile-menu__items > li > a:hover {
        font-weight: bold;
    }
    .mobile-menu__hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    }
    .mobile-menu_show {
        display: flex;
    }
    .navbar-menu__items {
        display: none;
    }
    .user-notification {
        display: none;
    }
    .navbar-general-page {
        margin-top: 70px;
    }
    .navbar__pills > li, .navbar__pills > li:first-child {
        width: 150px;
        height: 50px;
        padding: 0;
    }
    .navbar__pills > li > a {
        font-size: 10px;
    }    
}
@media screen and (max-width: 770px) {
    .navbar-general-page {
        margin-top: 150px;
    }
}
@media screen and (max-width: 520px) {
    .navbar-general-page {
        margin-top: 170px;
    }
}
 End Nav menu */

/* End Register Page, Login Page */
@media screen and (max-width: 1200px) {
    .news-card-preview__image {
        height: 190px;
    }
    .news-card-preview {
        height: 400px;
    }
    .news-card-preview-title a {
        font-size: 14px;
    }
    .news-card-preview-text {
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width: 590px) {
    .news-lists {
        margin-top: 200px;
    }
    .news-card-preview {
        height: 400px;
    }
    .news-card-preview-title,
    .news-card-preview-date {
        margin: 10px;
    }
    .news-card-preview-text {
        padding: 10px;
    }
}
@media screen and (max-width: 550px) {
    .col-xs-6 {
        width: 100%;
    }
}
/* End News Page, View news */

/* Request Page */
@media screen and (max-width: 1200px) {
    .chat-txt-block {
        margin-left: 25px;
    }
}
@media screen and (max-width: 1190px) {
    .status-request > li > a {
        font-size: 10px;
        width: 145px;
        height: 45px;
    }
    .badge {
        height: 35px;
        width: 93px;
        font-size: 9px;
    }
}
@media screen and (max-width: 991px) {
    .status-request > li > a {
        font-size: 9px;
        width: 105px;
        height: 40px;
    }
    .request-ident {
        padding: 5px 20px;
    }
    .requests__status-block {
        display: grid;
    }
    .badge-page {
        height: 30px;
        padding-top: 13px;
        line-height: 0;
        margin-top: 20px;
        width: 300px;
    }
    .requests-view_body img.info-img {
        width: 40px;
        height: 40px;
    }
    #add-grade-modal .modal-body, 
    #show-grade-modal .modal-body {
        width: 100%;
    }
    .btn-modal {
/*        width: 100px;
        padding: 15px;*/
    }
}
@media screen and (max-width: 770px) {
    .badge {
        font-size: 7px;
        height: 35px;
        width: 72px;
    }
}
@media screen and (max-width: 768px) {
    .requests-border {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}
/* End Request Page */

/* Personal-account Page 
@media screen and (max-width: 991px) {
    .breadcrumb-padding {
        margin-top: 125px;
    }    
    .sub-menu_account > li > a {
        padding: 20px 30px;
        font-size: 12px;
    }
    .receipte-of-lists > li {
        padding: 10px;
    }
    span.receipte-btn-pay-debt,
    .receipte-number {
        font-size: 12px;
    }
    .btn-save-reading, 
    .btn-edit-reading {
        width: 170px;
        font-size: 10px;
    }
}
@media screen and (max-width: 780px) {
    .sub-menu_account > li > a {
        padding: 15px 15px;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .receipts_period {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}
@media screen and (max-width: 660px) {
    .news-card-preview__image {
        height: 160px;
    }
    .sub-menu_account > li > a {
        padding: 15px 15px;
        font-size: 10px;
    }
}
@media screen and (max-width: 560px) {
    .news-card-preview__image {
        height: 200px;
    }
    .sub-menu_account > li > a {
        padding: 15px 7px;
        font-size: 10px;
    }
    .wrap > .container {
        padding-top: 70px;
    }
    .table-account {
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) {
    .navbar_personal-account {
        display: none;
    }
}
 End Personal-account Page 

 Paid-request Page 
@media screen and (max-width: 1190px) {
    .cost_service {
        font-size: 16px;
    }
    .service-card__body p {
        font-size: 13px;
    }
}
@media screen and (max-width: 991px) {
    .navbar-nav a.btn-history {
        height: 45px;
        width: 190px;
        padding: 12px;
    }
}
@media screen and (max-width: 768px) {
    .custom-select-trigger-services {
        width: 280px !important;
    }
    a.btn-history {
        padding: 0px 30px;
        font-size: 10px;
        line-height: 5em;
    }
}
@media screen and (max-width: 650px) {
    .cost_service {
        font-size: 14px;
        bottom: 3%;
    }
}
@media screen and (max-width: 570px) {
    .service-card__body p {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {
    .service-card__body p {
        font-size: 14px;
    }
}
@media screen and (max-width: 520px) {
    .custom-select-trigger-services {
        width: 180px !important;
        font-size: 12px !important;
    }
    .custom-option-services {
        font-size: 12px !important;
    }
    a.btn-history {
        padding: 0px 15px;
        font-size: 9px;
        line-height: 5em;
    }
}
 End Paid-request Page */



/* Profile Page */
@media screen and (max-width: 768px) {
    .profile-bg .face {
        box-shadow: 0px 0px 0px 30px rgba(45, 24, 180, 0.5);
        width: 100px;
        height: 100px;
    }
    .btn-upload {
        padding: 2px 35px;
    }
    .profile-name p {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .profile-bg .face {
        box-shadow: 0px 0px 0px 20px rgba(45, 24, 180, 0.5);
        width: 70px;
        height: 70px;
    }
    .btn-upload {
        padding: 2px 20px;
    }
}
/* End Profile Page */