/*
    media css for managers app
*/

/* Content */
@media screen and (max-width: 768px) {
    .manager-main-with-sub {
        margin-top: 110px;
    }
}
@media screen and (max-width: 560px) {
    .manager-main-with-sub {
        margin-top: 195px;
    }
    .manager-main {
        margin-top: 0;
    }
}
@media screen and (max-width: 991px) {
    ._sub-910, ._sub-910-paid {
        margin-top: 135px;
    }
    .__vote-767 {
        margin-top: 90px;
    }
}
@media screen and (max-width: 768px) {
    ._sub-910 {
        margin-top: 280px;
    }
    ._sub-910-paid {
        margin-top: 325px;
    }
}
@media screen and (max-width: 560px) {
    ._sub-910 {
        margin-top: 315px !important;
    }
    ._sub-910-paid {
        margin-top: 360px;
    }
}/* End Content */

/* Search Form Panel */
@media screen and (max-width: 991px) {
    .search-panel {
        padding: 0 !important;
    }
    .search-panel__btn-1 {
        height: 3em !important;
        padding: 5px 0;
    }
}
@media screen and (max-width: 991px) {
    ._sub-4 {
        margin-top: 140px;
    }
}
@media screen and (max-width: 768px) {
    .search-panel {
        margin-top: 10px;
    }
    .search-panel__btn-1 {
        height: 4em !important;
    }
    .search-panel__btn {
        height: 3em !important;
    }
    ._sub-4 {
        margin-top: 190px;
    }
    .submenu-manager {
        margin-top: -10px;
    }
    .submenu-manager > ul {
        padding: 10px 20px;
    }
    ._sub-2 {
        margin-top: 150px;
    }
    ._search-input, ._dropdown-subpanel {
        width: 100%;
    }
    .btn-edit-in-table, .btn-delete-in-table {
        font-size: 10px;
    }
}
@media screen and (max-width: 560px) {
    .submenu-manager {
        margin-top: 30px;
    }
    ._sub-4 {
        margin-top: 280px;
    }
}
/* End Search Form Panel */

/* Create employee form */
@media screen and (max-width: 1200px) {
    .profile-bg {
        height: 310px;
    }
    .face-user {
        min-height: 300px;
    }
    .face-user img {
        width: 120px;
        height: 120px;
    }
    .rent-profile-info_manager,
    .clients-profile-info_manager {
        padding: 30px 50px;
    }
    .profile-upload-btn-employee {
        top: 50%;
    }
}
/* End Create employee form */

/* Update employee form */
/* End Update employee form */

/* Clients Profile */
@media screen and (max-width: 1380px) {
    .profile-sub_menu_ul > li {
        padding: 20px;
        /*margin: 0px 20px 0px -20px;*/
    }
    .profile-sub_menu_ul > li > a {
        font-size: 12px;
    }
}
@media screen and (max-width: 1110px) {
    .profile-sub_menu_ul > li {
        padding: 10px;
    }
    .custom-select-trigger-dark {
        width: 340px !important;
    }
    .custom-option-dark {
        font-size: 12px !important;
        line-height: 35px !important;
    }
}
@media screen and (max-width: 991px) {
    .face-user img {
        box-shadow: 0px 0px 0px 28px rgba(45, 24, 180, 0.5);
    }
    .user-info-block_name {
        font-size: 22px;
    }
    .debt-client {
        font-size: 18px;
        padding: 3px 6px;
    }
}
@media screen and (max-width: 780px) {
    .user-info-block {
        padding: 88px 20px;
    }
}
@media screen and (max-width: 650px) {
    .face-user img {
        width: 100px;
        height: 100px;
    }
    .user-info-block_name {
        font-size: 19px;
    }
    .profile-sub_menu_ul > li {
        padding: 5px;
    }
    .profile-sub_menu_ul > li > a {
        font-size: 10px;
    }
    .profile-sub_menu_ul {
        display: block;
    }
    .custom-select-trigger-dark {
        width: 280px !important;
    }
}
@media screen and (max-width: 560px) {
    .face-user img {
        width: 70px;
        height: 70px;
    }
    .custom-select-trigger-dark {
        width: 200px !important;
    }
}
/* End Clients Profile */

/* Requests Page */
@media screen and (max-width: 991px) {
    .requests-border {
        border: none;
    }
    .settings-record-btn {
        padding: 10px;
        margin: -3px 10px;
    }
    .settings-record-btn > i {
        padding: 0;
    }
    .requests-view_chat {
        padding-top: 20px;
        border-top: 1px solid #ddd;
        margin: 0 -15px;
    }
    .chat-msg {
        margin: 0;
    }
    ._display-fix {
        display: block;
    }
}
@media screen and (max-width: 720px) {
    .requests-view_title {
        padding: 10px;
        display: grid;
        text-align: center;
    }
    .settings-record-btn {
        padding: 5px;
        font-size: 10px;
        margin: 3px;
        text-align: center;
    }
    .requests-view_title i.check {
        background: #36eadf;
        padding: 5px;
        border-radius: 12px;
        text-align: center;
    }
    .check_message {
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    .btn-choose-status {
        padding: 3px;
    }
}
@media screen and (max-width: 625px) {
    .edit-request-btn {
        padding: 7px 10px;
        font-size: 12px;
    }
    .btn-dispatcher, .btn-specialist {
        width: 200px;
        height: 50px;
        font-size: 10px;
    }
}
/* End Requests Page */

/* Paid-Requests Page */
@media screen and (max-width: 991px) {
    .requests-paid-view_title {
        padding: 25px 10px;
    }
}
@media screen and (max-width: 720px) {
    .requests-paid-view_title {
        padding: 10px;
        display: grid;
        text-align: center;
    }
    .requests-paid-view_title .label_service-name {
        margin: 5px 0 25px 0;
        background: #fff;
        color: #2d18b4;
    }
}
@media screen and (max-width: 540px) {
    .btn-group_status-request {
        margin-top: 20px;
    }
    .client_info-text, .client_info-text {
        font-size: 12px;
    }
    .client_info {
        padding: 1px;
    }
}
/* End Paid-Requests Page */

/* News Page */
@media screen and (max-width: 1500px) {
    .load_preview {
        height: 300px;
    }
    .news-item__title {
        height: 100px;
    }
}
@media screen and (max-width: 1360px) {
    .news-item__image {
        height: 220px;
    }
    .news-item__title > a.title {
        font-size: 16px;
    }
    .news-item__title > p.date {
        font-size: 12px;
    }
    .news-item__text {
        padding: 20px;
    }
}
@media screen and (max-width: 1250px) {
    .news-item__text {
        padding: 10px;
    }    
    .load_preview {
        height: 280px;
    }
}
@media screen and (max-width: 1220px) {
    .news-item__title > a.title {
        font-size: 16px;
    }
    .load_preview {
        height: 250px;
    }
    .news-item {
        height: 470px;
    }
}
@media screen and (max-width: 1087px) {
    .__sub-news-1087 {
        margin-top: 230px;
    }
}
@media screen and (max-width: 991px) {
    .news-item__title > a.title {
        font-size: 14px;
    }
    .news-bar > li {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .news-item__text {
        font-size: 12px;
    }
    .load_preview {
        height: 570px;
    }
}
@media screen and (max-width: 900px) {
    .load_preview {
        height: 480px;
    }
}
@media screen and (max-width: 768px) {
    .__sub-news-1087 {
        margin-top: 380px;
    }
    .news-margin {
        margin-top: 80px;
    }
    .load_preview {
        height: 440px;
    }
}
@media screen and (max-width: 650px) {
    .load_preview {
        height: 400px;
    }
}
@media screen and (max-width: 560px) {
    .news-margin {
        margin-top: 120px;
    }
    .__sub-news-1087 {
        margin-top: 420px;
    }
}
/* End News Page */

/* Voting Page */
@media screen and (max-width: 1470px) {
    .vote-card__text {
        font-size: 13px;
    }
}
@media screen and (max-width: 1300px) {
    .vote-card {
        height: 250px;
    }
    .vote-card__image > img {
        height: 248px;
    }
}
@media screen and (max-width: 1200px) {
    .vote-card {
        height: 470px;
    }
    .vote-card__image {
        border: none;
    }
    .vote-card__image > img {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .cover-vote {
        min-height: 600px;
    }
}
@media screen and (max-width: 991px) {
    .vote-card {
        height: 500px;
    }
    .vote-card__content_title {
        font-size: 16px;
        display: flow-root;
    }
    .vote-card__content h1 > a > span {
        font-size: 12px;
    }
    .questions-list {
        border: none;
    }
    .upload-btn-wrapper {
        top: 40%;
    }
    .vote-card__content h1 > a > span {
        padding: 0 15px;
    }
    .span-count {
        padding: 0 20px;
    }
}
@media screen and (max-width: 901px) {
    .vote-card__content_title {
        font-size: 14px;
        display: flex;
    }
    .vote-card__status-info > div {
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {
    .__vote-767 {
        margin-top: 190px;
    }
    .vote-card {
        height: 600px;
    }
    .vote-card__text {
        font-size: 12px;
    }
    .vote-card__status-info {
        display: grid;
        padding: 0 7px;
    }
    .vote-card__status-info > div {
        text-align: left;
        border-right: none;
    }
}
@media screen and (max-width: 730px) {
    .vote-card {
        height: 670px !important;
    }
}
@media screen and (max-width: 560px) {
    .__vote-767 {
        margin-top: 230px;
    }
}
@media screen and (max-width: 550px) {
    .vote-card {
        height: 670px !important;
    }    
}
/* End Voting Page */

/* Designer Request */
@media screen and (max-width: 1200px) {
    .categories-list li, .requests-list li {
        padding: 15px;
    }
}
@media screen and (max-width: 768px) {
    .designer-block > div[class*="col-"],
    .housing-stock > div[class*="col-"] {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}
@media screen and (max-width: 560px) {
    ._sub-designer {
        margin-top: 160px;
    }
}
/* End Designer Request */

 /* Housing stock */
@media screen and (max-width: 1200px) {
    .housing-stock__flats {
        border-right: none !important;
    }
    .housing-stock__files {
        border-top: 1px solid #ddd;
    }
}
@media screen and (max-width: 991px) {
    .housing-stock__characteristics {
        border-right: none !important;
    }
    .housing-stock__flats {
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd !important;
    }
}
@media screen and (max-width: 768px) {
    .housing-stock__flats {
        border-top: none;
        border-right: none !important;
    }    
    .housing-stock__files {
        border-top: none;
        border-bottom: none !important;
    }
}
 /* End Housing stock */
 
 /* Settings Page */
 @media screen and (max-width: 991px) {
    .settings-page__content > div[class*='col-']:first-child {
        border-right: none;
        border-bottom: 1px solid #ddd;
        min-height: auto;
    }
 }
 /* End Settings Page */
 
 /* General Page */
@media (min-width: 1200px) and (max-width: 1500px) {
    .active_block__item {
        display: grid;
    }
    .active_block__item-image {
        padding: 0;
    }
    .active_block__item-image img {
        max-width: 100%;
        width: 100%;
        max-height: 170px;
        object-fit: cover;
    }
}

 /* End General Page */