/*
 * Media Clients CSS style
 * 29-03-2019
*/

/* NavBar */
@media screen and (max-width: 1200px) {
    .container-fluid {
        padding: 10px;
    }
    .navbar-brand > img {
        margin: 5px -20px;
        width: 140px;
    }
    .select-current-account {
        width: 170px;
    }
    .account-balance {
        margin-top: 20px;
        font-size: 12px;
    }
    .account-balance > span.minus {
        padding: 5px 10px;
        border-radius: 25px;
        background-color: #ff1760;
        color: #fff;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 11px;
    }
    .user-profile__photo {
        width: 50px;
        height: 50px;
        margin: 10px 0;
    }
    .navbar_user-block__info > p {
        font-size: 12px;
    }
}
@media screen and (max-width: 991px) {
    .account-balance {
        margin: 20px 10px 0;
        padding: 5px 25px 5px 10px;
    }
    .account-balance > span.minus {
        padding: 6px 10px;
        right: -10px;
    }
    .user-profile__photo {
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
    }
    .notification__dropdown button {
        margin: 5px 10px;
    }
}
@media screen and (max-width: 830px) {
    .notification__dropdown button {
        margin: 5px;
    }
    li.account-info {
        padding: 0 10px;
    }
    .account-balance {
        margin: 15px 10px 0;
    }
    .list-account__title,
    .select-current-account {
        font-size: 11px;
    }
    .navbar_user-block__info {
        padding: 10px 10px;
    }
    .notification__dot {
        top: 20%;
        right: 25%;
    }
}
@media screen and (max-width: 768px) {
    .navbar-brand > img {
        margin: 0;
    }
    .select-current-account {
        width: 100%;
    }
    .list-account__title {
        text-align: right;
    }
    .account-balance > span.minus {
        padding: 6px 18px;
        right: 0px;
    }
    .navbar_mobile {
        display: unset;
    }
    #elsaNavbar {
        min-height: 420px;
    }
}
/* End NavBar */